<!-- About Us first dropdown page -->
  <div ng-include="'templates/PartialPage/HomeNavigation.html'"></div>
<div class="container-fluid">
    <div class="row">
        <img src="./img/inner-banner.jpg" width="100%" />
    </div>
</div>

<div class="container">
    <div class="col-lg-12  page-header text-center">
        <h1><strong>Executive <span class="text-orange">Director</span></strong> </h1>
        <img src="./img/ABSir.jpg" style="border-radius: 50%; margin: 5% 0 2%; width:270px;"  />
        <p class="text-grey"><b>Dr. ABRAHAM KUMAR | PRESIDENT</b><br />
            AKumar@protatech.com</p>
        <br />
        <p>Abraham has been with ProtaTECH since its U.S. operations began in 2002, and has effectively served the company in high-profile IT ventures, assisting events such as the multiple Rose Bowl, Super Bowl and even the Olympic Games. With previous experience as a Technical Project Manager for the LAPD and a BS in Computer Information Systems, an MS in Information Systems, a Masters in Music and a Master's in Business Administration, and he has proven extremely influential in the company, Offering new and innovative ideas such as online workforce management software and accredited programs that have been used for clients and events around the world.
</p>
 <p>
     Abraham is most known for his unique software architecture skills, extensive knowledge of network security and project delivery which has enabled ProtaTECH to timely deliver and implement many high risk projects. He has been the chief software architect of applications like WISH 1, WISH 2, WISH 3, EventKeyz, ScreenSFX, SORT, TCM and may others.


 </p>
        <p>
            Abraham has consulted for multiple foreign governments around the world and has traveled extensively to over 50 countries, with more than 20 years of experience in the field of technology and programming he has proven himself a capable leader in helping every client find clean and simple solutions to even the most complex challenges.


        </p>
    </div>
</div>
<!-- About Us first dropdown page end -->
