<!--Main layout-->
    <main id="certificate-page">
        <div class="container-fluid"><br>
            <!--Divider-->
            <div class="divider-new">
                <h2 class="h2-responsive"> Certificate</h2>
            </div>
   <p></p>
 
<table class="table table-striped">
  <thead>
    <tr>
      
      <th>Course Name</th>
      <th>Final Exam Date</th>
      <th>Result</th>
      <th>Print Certificate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Power To Arrest</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
       <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
      </td>
    </tr>
    <tr>
      
      <td>Communications</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
      
      <td>Medical Response Training</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
      
      <td>Advanced Crowd Control</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
      
      <td>Handling Difficult People</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
      
      <td>Courtroom Demeanor</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Preserving The Scene</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Security Officer Patrol Techniques</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>The Security Professional</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Driver Safety</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>De-escalation Techniques</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Access Control</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Protecting The Security Officer</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Emergency Response</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Workplace Violence</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
      
      <td>Chemical Agent Response</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Security Officer Safety</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Suspicious Package Response</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Workplace Essentials</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Power To Arrest Review</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      <tr>
      
      <td>Weapons Of Mass Destruction</td>
      <td></td>
      <td>Pending</td>
      <td class="print-cert">
      <a data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-print" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-floppy-o" aria-hidden="true"></i></a></td>
    </tr>
      
  </tbody>
</table>

</div>
</main>
<!--/Main layout-->

