

        <div layout-padding class="card" >
     
           <form name="ChangePassword" ng-submit="ChangePassword.$valid &&  ChangeUserPassword()" autocomplete="nope">

            <md-input-container class="md-block">
              <label>Current Password</label>
              <input name="CurrentPassword" type="password" ng-model="User.LoginPassword"  md-autofocus required   autocomplete="new-password"/>
                 <div ng-messages="ChangePassword.CurrentPassword.$error">
                     <div ng-message="required">Password is required.</div>
               <div ng-message="correctPassword">Either the username was not recognised or the password was incorrect</div>
                  </div>
         
               </md-input-container>
            <md-input-container class="md-block">
              <label>New Password</label>
              <input type="password" name="password" ng-minlength="6" ng-maxlength="16" ng-model="User.UpdatedPassword" required  autocomplete="new-password1" />
             <div ng-messages="ChangePassword.password.$error">
  <div ng-message="required">Password is required</div>
  <div ng-message="minlength">Password must be over 6 characters</div>
  <div ng-message="maxlength">Password must not exceed 16 characters</div>
</div>
            
              </md-input-container>

               <md-input-container class="md-block">
              <label>Retype Password</label>              
            <input type="password"  confirm-pwd="User.UpdatedPassword" name="Retypepassword" ng-model="User.RetypePassword" required  autocomplete="new-password2"/>
                
             <div ng-messages="ChangePassword.Retypepassword.$error">
             <div ng-message="required">Retype your password.</div>
             <div ng-message="password">Password and Retype password do not match.</div>
            
</div>
            
             </md-input-container>                   


       
                <div layout="row">
        
          <span flex></span>    
                      <md-button type="submit" promise-btn="loginPromise" class="md-raised md-primary"><span class="btn-spinner"></span> Submit</md-button>
                    </div>
               </form>

       </div>

       