<!-- <form name="CartForm" >-->

<!-- <div >
                <h2 class="h2-responsive"> Shopping Cart</h2>
            </div><br> -->
<style>
    .col-md-offset-6 {
        margin-left: 50%;
    }
</style>
<div class="card">

    <!-- New Cart Table -->
    <!--/Shopping Cart table-->



    <div ng-show="CartItems.length==0 || CartItems.length==undefined" style="text-align: center; color: #0094ff;">Cart is empty !</div>
    <div ng-show="CartItems.length>0">


        {{CartItems}}


        <div class="table-responsive">
            <table class="table product-table" ng-init="ItemList()" width="100%">
                <thead>
                    <tr>
                        <th>#

                                  
                        </th>
                        <th><i class="fa fa-wpforms"></i>&nbsp;&nbsp;Course Name</th>
                        <th><i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp;Description</th>
                        <th style="width: 150px"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Duration</th>
                        <th style="width: 150px"><i class="fa fa-dollar"></i>&nbsp;&nbsp;Price</th>
                        <th ng-show="isAuthorized([userRoles.Company])"><i class=""></i>&nbsp;&nbsp;No Of License</th>
                        <th>Remove</th>
                    </tr>
                    <tr ng-repeat="item in CartItems" style="text-align: left; vertical-align: top; font-weight: normal;">
                        <th style="font-weight: normal; vertical-align: top;">{{$index+1}}</th>
                        <th style="font-weight: normal; width: 300px; vertical-align: top;">{{item.Name}}
                  <span style="font-size: larger;"><a id="displayText" href="javascript:toggle();" ng-click="PackageCourseList($index)" ng-if="item.Type == 'Package'">+</a></span>

                            <div id="toggleText" style="display: none">
                                <!--<Span>
                            Course Name  

                        </Span>
                        <span>Course Type</span>
                        <div ng-repeat="cItem in GetSelectedCoursesByPkgId">

                            <span>{{cItem.CourseName}}</span>
                            <span>{{cItem.CourseType}}</span>
                        </div>-->
                                <div style="height: 250px; position: fixed; z-index: 1000; left: 450px; overflow-y: auto;">
                                    <table width="70%" border="1" style="border: 1px solid black; border-collapse: collapse; padding: 15px; width: 100%; background-color: #87cefa;">
                                        <tr>
                                            <td style="font-weight: bold">Course Name</td>
                                            <td style="font-weight: bold">Course Type</td>

                                        </tr>
                                        <tr ng-repeat="cItem in GetSelectedCoursesByPkgId">
                                            <td>{{cItem.CourseName}}</td>
                                            <td>{{cItem.CourseType}} </td>

                                        </tr>
                                        <tr>
                                            <td colspan="2" align="right"></td>
                                        </tr>
                                    </table>

                                </div>

                            </div>

                        </th>
                        <th style="font-weight: normal; vertical-align: top;">{{item.Description}} </th>
                        <th style="font-weight: normal; vertical-align: top; width: 150px">{{item.Hours}} hours </th>
                        <th style="font-weight: normal; vertical-align: top; width: 150px">${{item.Price}} </th>
                        <th style="font-weight: normal; vertical-align: top;" ng-show="isAuthorized([userRoles.Company])">
                            <input type="text" id="NoOfLicense_{{$index}}" name="NoOfLicense" class="no-spin" ng-model="item.NoOfLicense" ng-blur="UpdateNoOfLicense($index,item.NoOfLicense)" style="width: 50px" maxlength="3" numeric-only>
                        </th>
                        <th style="font-weight: normal; width: 100px; vertical-align: top;">


                            <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" title="Remove item" ng-click="RemoveItem($index,item)">X</button>


                        </th>
                    </tr>

                </thead>
            </table>
        </div>
    </div>
    <!--   <div style="width: 100%; text-align: right" ng-show="ShowPurchase">
      
        <span>
            <button type="button" class="btn btn-primary" ng-click="PurchaseOrder()">Complete Purchase > </button>
        </span>
    </div>-->


</div>
<div  ng-show="CartItems.length>0">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong  ng-show="!Coupon">Have a coupon code?</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                            <form name="CouponForm" novalidate ng-submit="CouponForm.$valid && ApplyCoupon()">
                                        <table class="table table-condensed">

                                            <tbody>
                                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                             
                                                <tr ng-show="!Coupon">
                                                 
                                                    <td class="text-center" colspan="3"> 
                                                        
                                                         <md-input-container class="md-block">
                                      
                  <label>Coupon Code</label>
                  <input name="CouponCode" ng-model="CouponCode" maxlength="6" ng-pattern="/^([a-zA-Z0-9]{6})$/" required> 
                  <div ng-messages="CouponForm.CouponCode.$error">
                        <div ng-message="pattern">Invalid Coupon Code.</div>
                         <div ng-message="invalid">Invalid Coupon Code.</div>
                      
                  </div>
               </md-input-container></td>
                                                    <td class="text-right">
                                                       <md-button type="submit" promise-btn-options="options" ng-disabled="CouponForm.$invalid" promise-btn="ApplyCouponPromise" class="md-raised md-primary"><span class="btn-spinner"></span> Apply</md-button>
                                                      </td>
                                                </tr>
                                                  <tr>
                                                        <td class="thick-line text-right"></td>
                                                    <td class="thick-line" colspan="2"><strong>Amount</strong></td>
                                                    <td class="thick-line text-center"><strong>${{TotalPrice}}</strong></td>
                                               
                                                </tr>
                                                 <tr ng-if="Coupon"><td class="thick-line text-right"></td>
                                              
                                                    <td class="thick-line" colspan="2"><i class="fa fa-remove" style="color:red" ng-click="clearCoupon()"></i> Coupon (<strong>{{Coupon.CoupanCode}}</strong>)</td>
                                                    <td class="thick-line text-center"><strong>-{{Coupon.CoupanValue}}%</strong></td>
                                              
                                                </tr>

                                                <tr ng-if="Coupon">
                                                    <td class="thick-line text-right"></td>
                                                    <td class="thick-line" colspan="2"><strong>Payable Amount</strong></td>
                                                    <td class="thick-line text-center"><strong>${{TotalPrice-(TotalPrice*Coupon.CoupanValue/100)}}</strong></td>
                                                   
                                                </tr>

                                            </tbody>
                                        </table>
                                                </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <!--Form without header-->
            <div class="card">
                <div class="card-block">

                    <!--Header-->
                    {{Payment}}
                    <form name="PaymentForm" novalidate ng-submit="PaymentForm.$valid && PurchaseOrder()">
                        <div class="text-center">
                            <strong>Payment Details<img src="img/card-type.png" class="pull-right" /></strong>

                            <hr class="mt-2 mb-2">
                        </div>

                        <!--Body-->

                        <md-input-container class="md-block">
                                      
                  <label>Card Holder Name</label>
                  <input required name="Name" ng-model="Payment.CardName" maxlength="100"> 
                  <div ng-messages="PaymentForm.Name.$error">
                     <div ng-message="required">Card Holder Name is required.</div>
                  </div>
               </md-input-container>

                        <md-input-container class="md-block">
                                      
                  <label>Card Number</label>
                  <input required name="Number" cc-number  cc-eager-type ng-model="Payment.CardNumber"  wt-easy-mask='9999999999999990'> 
                              <div class="hint">xxxx xxxx xxxx xxxx</div>
                        
                  <div ng-messages="PaymentForm.Number.$error">                    
                     <div ng-message="required">Card Number is required.</div>                      
                         <div ng-message="ccNumber">Invalid Card Number.</div>   
                  </div>
               </md-input-container>
                        <div layout-gt-sm="row" cc-exp>
                            <md-input-container class="md-block" flex="40">
                                      
                  <label>Expiration Month</label>



                  <md-select required name="ExpiryMonth" ng-model="Payment.ExpiryMonth">

                        <md-option ng-repeat="months in SelectExpirationMonths" value="{{months.Value}}">
                       {{months.Value}}
                      </md-option>                     
                      </md-select>                                  
                               
                  <div ng-messages="PaymentForm.ExpiryMonth.$error">                  
                     <div ng-message="required">Expiration month is required.</div>
                  </div>
               </md-input-container>
                                  <md-input-container class="md-block"  flex="40">
                                      
                  <label>Expiration Year</label>
                                  
                     <md-select required name="ExpiryYear" ng-model="Payment.ExpiryYear" ng-change="ExpiryYear(Payment.ExpiryYear)">
                         <md-option ng-repeat="year in SelectExpirationYears" value="{{year.Value}}">
                {{year.Value}}
                      </md-option>
                      </md-select>     
                  <div ng-messages="PaymentForm.ExpiryYear.$error">                  
                     <div ng-message="required">Expiration year is required.</div>
                  </div>
               </md-input-container>
                            <md-input-container class="md-block">
                                      
                  <label>CVV Code </label>
                  <input required name="CV" ng-model="Payment.CV" maxlength="4"  ng-pattern="/^[0-9]{3,4}$/"> 
                                    <div class="hint" >xxx</div>
                  <div ng-messages="PaymentForm.CV.$error">
                     <div ng-message="required">CVV Code is required.</div>
                       <div ng-message="pattern">Invalid CV.</div>
                  </div>
               </md-input-container>
                                 <md-input-container class="md-block" hide>
                                     <span class="btn btn-info cvv-note" data-toggle="popover" data-placement="top" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fa fa-question"></i></span>
                                     
                                 </md-input-container>

                        </div>


                        <div class="text-center">
                            <!--   <button class="btn btn-primary" type="submit" style="width: 100%; text-align: center !important;"><strong>Proceed</strong></button>-->
                            <md-button type="submit" ng-disabled="PaymentForm.$invalid" promise-btn-options="options"
                                promise-btn="purchasePromise" class="md-raised md-primary"><span class="btn-spinner"></span> Purchase</md-button>
                        </div>
                    </form>
                </div>

                <!--Footer-->


            </div>
            <!--/Form without header-->
        </div>
    </div>
</div>
<script language="javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover'
        });
    });
    function toggle() {
        var ele = document.getElementById("toggleText");
        var text = document.getElementById("displayText");
        if (ele.style.display == "block") {
            ele.style.display = "none";
            text.innerHTML = "+";
        }
        else {
            ele.style.display = "block";
            text.innerHTML = "+";
        }
    }
</script>
<!--   </form>-->
