<!--Main layout-->
<main id="comments-page">
<div class="container-fluid"><br>
<div class="row">
<!--Divider-->
<div>
<h2 class="custom-blue text-xs-center" ></h2>
</div>
<hr class="between-sections">
<div class="col-lg-6 col-lg-offset-3 col-md-3 col-md-offset-3">
    

<!--Naked Form-->
<div id="comments-form" class="card-block">

    <!--Header-->
    <div class="text-xs-left">
        <h3><i class="fa fa-envelope"></i> Comments</h3>
        <hr class="m-t-2 m-b-2">
    </div>

    <!--Body-->
    <p>Feel free to ask a question or share your comments with us. <br>
    (Max. 1,000 Characters)</p>
    
    <br>
    
    <!--Body-->
   

    <div class="md-form">
        <i class="fa fa-tag prefix"></i>
        <input type="text" id="form32" class="form-control">
        <label for="form34">Subject</label>
    </div>

    <div class="md-form">
        <i class="fa fa-pencil prefix"></i>
        <textarea type="text" id="form8" class="md-textarea"></textarea>
        <label for="form8">Message</label>
    </div>

    <div class="text-xs-left">
        <button class="btn btn-default">Submit</button>

       
    </div>

</div>
<!--Naked Form-->

</div>
<div class="col-lg-6 col-md-3">

</div>

</div><!--/row-->

</div>
</main>
<!--/Main layout-->


<!--Footer-->
<footer id="dashboard-footer" class="page-footer center-on-small-only">

</footer>
<!--/.Footer-->
