
<style>
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

   <div class="card" layout-padding>
        <form name="frm_coupan" ng-submit="frm_coupan.$valid && SaveCoupan()"  autocomplete="nope">
          
            <md-input-container class="md-block">                                      
                  <label>Coupan Name</label>        
                    <input  name="CoupanName" class="txtPromoName" ng-model="Coupans.CoupanName" maxlength="10"  required/>     
                 <div ng-messages="frm_coupan.CoupanName.$error">
                     <div ng-message="required">Coupan name is required.</div>
   <div ng-message="maxlength">The coupan name cannot exceed 10 characters in length</div>
                  </div>                      
             </md-input-container>
      
           <md-input-container class="md-block">                                    
                  <label>Coupan Value(%)</label>        
                    <input   name="CoupanValue" class="txtPromoCode"  ng-model="Coupans.CoupanValue"  type="text" numeric-only type="number" max="100"   max="100"   required/> 
                <div ng-messages="frm_coupan.CoupanValue.$error">
                     <div ng-message="required">Coupan value  is required.</div>
 <div ng-message="max">The coupan value cann't exceed from 100</div>
                  </div>                                  
             </md-input-container>

                <md-input-container class="md-block">                                      
                  <label>No. Of Coupan</label>        
                    <input id="txt_no_coupan" name="TotalCoupanNo"   type="text" numeric-only class="txtPromoValue" ng-model="Coupans.TotalCoupanNo" maxlength="4"  required/>  
                <div ng-messages="frm_coupan.TotalCoupanNo.$error">
                     <div ng-message="required">Enter coupan number want to generate .</div>
  <div ng-message="md-maxlength">The coupan number count cannot exceed 4 characters in length</div>
                  </div>                            
             </md-input-container>
      
        
        <div layout-gt-xs="row">
           
     
            <md-input-container class="md-block" flex="50">                                      
                  <label>Coupan Valid From</label> 
                                <md-datepicker  md-min-date="Coupans.CoupanValidFromMin" md-max-date="Coupans.CoupanValidFromMax"  ng-model="Coupans.CoupanValidFrom" md-placeholder="Coupan Valid From" md-open-on-focus   name="CoupanValidFrom" required ></md-datepicker>   
                <div ng-messages="frm_coupan.CoupanValidFrom.$error">
  <div ng-message="valid">The entered value is not a date!</div>
                     <div ng-message="required"> Select valid from date </div>
                  </div>                                              
             </md-input-container>
            <md-input-container class="md-block" flex="50">                                      
                  <label>Coupan Valid Up to</label>      
                <md-datepicker id="datepicker" ng-model="Coupans.CoupanValidUpto" md-min-date="Coupans.CoupanCoupanValidUptoMin"  md-placeholder="Coupan Valid Up to" md-open-on-focus name="CoupanValidUpto"  required ></md-datepicker>
                     <div ng-messages="frm_coupan.CoupanValidUpto.$error">
                         <div ng-message="valid">The entered value is not a date!</div>
                     <div ng-message="required"> Select valid upto date.</div>
                     <div ng-message="mindate">Date is too early!</div>
                  </div>                                             
             </md-input-container>
        </div>

        <div layout-gt-xs="row">
           
             <md-button type="submit" promise-btn="SaveCoupanPromise" class="md-raised md-primary" ng-disabled="frm_coupan.$invalid" ><span class="btn-spinner"></span> Generate Coupan</md-button>
        </div>
     
         
             </form>
 </div><div ng-cloak>
        
        <div ng-show="Coupanlist.length>0" class="col-md-12 card" ng-init="GetCoupans()">
           
            <table class="table"  >
                <tr>
                     <th >#</th>
                <th>Coupan Name</th>
                <th>Coupan Value(%)</th>
                <th>Coupan Code</th>
                <th>Coupan Valid From</th>
                <th>Coupan Valid UpTo</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="coup in Coupanlist">
                     <td>{{$index+1}}</td>
                    <td>  {{coup.CoupanName}} </td>
                    <td>  {{coup.CoupanValue}} </td>
                    <td>  {{coup.CoupanCode}} </td>
                    <td>  {{coup.CoupanValidFrom}} </td>
                    <td>  {{coup.CoupanValidUpTo}} </td>
                    <td>
                        <md-button id="btn_delete"  class="md-raised md-primary" ng-click="DeleteCoupan(coup.CoupanId,coup.CompanyId,this)">Delete </md-button>
                    </td>
                </tr>
            </table>
            
        </div>
             </div>
             </div>

   


