<div id="table"  class="table-editable card" ng-init="GetUserDetail()">


<table class="table"  >
                <tr >
                     <th >#</th>
                    <th>Name</th>
                    <th>Status </th>
                     <th>Progress</th>
                </tr>
                <tr ng-repeat="user in Userlist">
                    <td>{{$index+1}}</td>
                    <td> {{user.FirstName}} &nbsp; &nbsp; {{user.LastName}}</td>
                    <td> {{user.WorkStatus}}</td>
                    <td> <progress class="progress progress-success" value="{{user.Percentage}}" max="100"></progress>{{user.Percentage}}%</td>
                    
                </tr>

            </table> 
</div>