<!--Main layout-->
<main>
<div id="register-page" class="container-fluid"><br>
            <!--Divider-->
            <div class="">
                <h2 class="h2-responsive"> Edit</h2>
            </div>
   <p>You can change your personal details and password here.<br>Fields marked with an asterisk * are DISABLED, and cannot be modified.</p>
           <p  class="dev-notes">DEV NOTES: THE USER IS NOT PEMITTED TO CHANGE THEIR DATE OF BIRTH, OR SOCIAL SECURITY NUMBER. THESE FIELDS SHOULD BE DISABLED.</p>
            <!--Section: Products v.1-->
            <section id="register-form" class="section ">

                <!--Section heading-->
              
                <!--Section sescription-->
                <p class="section-description wow fadeIn" data-wow-delay="0.4s"></p>

                <!--First row-->
                <div class="row">                 
<!--Form with header-->
<div class="card col-lg-6">
    <div class="card-block">
        <!--Header-->
        <div class="form-header blue-gradient">
            <h3><i class="fa fa-user"></i> Edit Profile</h3>
        </div>

        <!--Body-->
        <div class="md-form">     
            <input type="text" id="form3" class="form-control">
            <label for="form3">First Name</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form3" class="form-control">
            <label for="form3">Middle Name</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form3" class="form-control">
            <label for="form3">Last Name</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form3" class="form-control">
            <label for="form3">Street Address</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form3" class="form-control">
            <label for="form3">City</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form3" class="form-control">
            <label for="form3">State</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form3" class="form-control">
            <label for="form3">Zip</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form3" class="form-control">
            <label for="form3">Primary Phone</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form3" class="form-control">
            <label for="form3">Alternate Phone</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form2" class="form-control">
            <label for="form2">Email</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form3" class="form-control " disabled>
            <label for="form3">*Date of Birth</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form3" class="form-control" disabled>
            <label for="form3">*Social Security Number</label>
        </div>
        <div class="md-form">
            
            <input type="text" id="form3" class="form-control">
            <label for="form3">Login ID</label>
        </div>
            <p>You can update your password here, but you must enter your current password first.</p>
        <div class="md-form">
            
            <input type="password" id="form4" class="form-control">
            <label for="form4">Current Password</label>
        </div>
        
         <div class="md-form">
           
            <input type="password" id="form4" class="form-control">
            <label for="form4">New Password</label>
        </div>
         <div class="md-form">
           
            <input type="password" id="form4" class="form-control">
            <label for="form4">Confirm Password</label>
        </div>

        <div class="text-xs-left">
            <button class="btn btn-indigo">Submit</button>
            <hr>      
        </div>
    </div>
</div>
<!--/Form with header-->
</div>
<!--/First row-->
</section>
<!--/Section: Products v.1-->
<hr class="between-sections">
</div>
</main>
<!--/Main layout-->

<!--Footer-->
    <footer id="dashboard-footer" class="page-footer center-on-small-only">
        <!--Social buttons-->
        <div class="social-section">
            <ul>
                <li><a href="#" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>
                <li><a href="#" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a></li>
                <li><a href="#" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
                <li><a href="#" target="_blank" class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a></li>
                <li><a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a></li>
                <li><a href="#" class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a></li>
                <li><a href="#" class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a></li>
            </ul>
        </div>
        <!--/.Social buttons-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2016 Copyright: <a href="http://www.ProtaTECH.com"> ProtaTECH.com </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->