<!--Main layout-->
<div id="faqs-page">
    <div class="container-fluid">
        <br>



        <!--Divider-->
        <div class="divider-new">
            <h2 class="h2-responsive">Frequently Asked Questions</h2>
        </div>
        <p></p>
        <!--Section: Products v.1-->
        <section class="section ">

            <!--Section heading-->
            <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s"></h1>
            <!--Section sescription-->
            <p class="section-description wow fadeIn" data-wow-delay="0.4s"></p>

            <!--First row-->
            <div class="row">

                <!--Accordion wrapper-->
                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

                    <!--First panel-->
                    <div class="panel panel-default">

                        <!--Panel heading-->
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h5 class="panel-title">
                                <a class="arrow-r" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is SORT?<i class="fa fa-angle-down rotate-icon"></i>
                                </a>
                            </h5>
                        </div>

                        <!--Panel body-->
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
            raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--/.First panel-->

                    <!--Second panel-->
                    <div class="panel panel-default">

                        <!--Panel heading-->
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h5 class="panel-title">
                                <a class="arrow-r" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">How will SORT benefit me?<i class="fa fa-angle-down rotate-icon"></i>
                                </a>
                            </h5>
                        </div>

                        <!--Panel body-->
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
            raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--/.Second panel-->

                    <!--Third panel-->
                    <div class="panel panel-default">

                        <!--Panel heading-->
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h5 class="panel-title">
                                <a class="arrow-r" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">How will SORT benefit my company?<i class="fa fa-angle-down rotate-icon"></i>
                                </a>
                            </h5>
                        </div>

                        <!--Panel body-->
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
            raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--/.Third panel-->

                    <!--Fourth panel-->
                    <div class="panel panel-default">

                        <!--Panel heading-->
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h5 class="panel-title">
                                <a class="arrow-r" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">How do I become a Security Officer (Guard)?<i class="fa fa-angle-down rotate-icon"></i>
                                </a>
                            </h5>
                        </div>

                        <!--Panel body-->
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
            raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--/.Fourth panel-->

                    <!--Fifth panel-->
                    <div class="panel panel-default">

                        <!--Panel heading-->
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h5 class="panel-title">
                                <a class="arrow-r" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">Security Officer or Guard?<i class="fa fa-angle-down rotate-icon"></i>
                                </a>
                            </h5>
                        </div>

                        <!--Panel body-->
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
            raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                    <!--/.Fifth panel-->

                </div>
                <!--/.Accordion wrapper-->



            </div>
            <!--/First row-->


        </section>
        <!--/Section: Products v.1-->






    </div>
</div>
<!--/Main layout-->


<!--Footer-->

<!--/.Footer-->
