<footer class="page-footer center-on-small-only">

    <!--Footer Links-->

    <!--/.Footer Links-->

    <hr>


    <!--Social buttons-->
    <div class="social-section">
        <ul>
            <li><a href="https://www.facebook.com/SORT-1826920104189141/" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a></li>
            <li><a href="https://twitter.com/SORTTexas" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a></li>
            <li><a href="https://plus.google.com/110234067535831840525" target="_blank" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
           <!-- <li><a href="#" class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"> </i></a></li>
            <li><a class="btn-floating btn-small btn-git"><i class="fa fa-github"> </i></a></li>
            <li><a href="#" class="btn-floating btn-small btn-pin"><i class="fa fa-pinterest"> </i></a></li>
            <li><a href="#" class="btn-floating btn-small btn-ins"><i class="fa fa-instagram"> </i></a></li>-->
        </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container">
            <p class="pull-left"> Powered by ProtaTECH Inc,  © 2017 SORT Inc <a href="http://www.ProtaTECH.com"> </a></p>
            <p class="pull-right"><a ng-click="showTermsDialoge($event);">Terms & Conditions</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a  ng-click="showprivacyDialoge($event);">Privacy Policy</a></p>
         

        </div>
    </div>
    <!--/.Copyright-->

</footer>