
  <div ng-include="'templates/PartialPage/HomeNavigation.html'"></div>
<div class="container-fluid">
    <div class="row">
    <img src="./img/inner-banner.jpg" width="100%" />
        </div>
    </div>

<div class="container">
    <div class="col-lg-12  page-header text-center">
    <h1> <strong>Laws &  <span class="text-orange">Rules</span></strong> </h1>
   
    
        </div>
     <div class="row">
        <div class="col-lg-12">
            <p>The Private Security Industry in SORT CA is governed by two distinctive sets of Laws   L.R.S. 37:3270 through 3299, Private Contract Security Companies and Rules.</p>
   
            <p>Our .pdf RULES are searchable.  Once accessed, simply hit CTRL+F on your keyboard to bring up a text search field and type the keywords you are trying to locate in the document i.e., “training” or “inspection” and you will be able to see how many times your searchable term appears and can click through to those specific portions with ease.  This will save you time reading through in search of that in which you are most interested.</p>
    
            <p>&nbsp;</p>
            </div>
          

    </div>
    
</div>


