
<!--Divider-->

          
               <section id="register-form" class="section" style="padding: 0px 0px;margin-bottom:0px;">
    <div class="card"  style="margin-bottom:0px;">
        <!--Header-->
        <div class="form-header blue-gradient" style="margin:0px;">
            <h3 class="text-sm-left"><b>Login</b></h3>
        </div>
         <div class="card-block">
    <form name="CompanyForm"  novalidate ng-submit="CompanyForm.$valid &&  AuthenticateUser()">

        <!--Header-->
        <div class="text-xs-left">
           <!-- <h3><i class="fa fa-building "></i> Company</h3>-->
             <div  style="color:red">{{CompanyMessage}}</div>
            <hr class="m-t-2 m-b-2">
        </div>
        <!--Body-->
        <br>
        <!--Body-->

          <md-input-container class="md-block  md-icon-left">
                                      
                  <label>LoginID</label>
                  <input  name="Name" ng-model="User.LoginID" required> 
                  <div ng-messages="User.LoginID.$error">
                     <div ng-message="required">LoginID is required.</div>
                  </div>
               </md-input-container>

          <md-input-container class="md-block  md-icon-left">
                                      
                  <label>Password</label>
                  <input type="password"  name="Password" ng-model="User.Password"  minlength="6" required> 
                  <div ng-messages="User.Password.$error">
                     <div ng-message="required">Minimum 6 digits Password is required.</div>
                  </div>
               </md-input-container>

      

            <div class="text-xs-center">
                 <button class="md-raised md-primary md-button md-ink-ripple" type="submit">Submit<div class="md-ripple-container"></div></button>
        </div>
         <!--   <button class="btn btn-primary"><a href="../Master/dashboard-company.html">Submit</a></button>-->
      

</form> 
             </div>
    </div>


     </section>
