 <style>
     h5
     {
         font-size:13.8px!important;
     }
 </style>

<div  layout="row" ng-cloak  >


    <md-sidenav layout="column" flex=40 class="md-sidenav-left md-whiteframe-z2" md-component-id="left1"  flex-sm="80" flex-xs="80"
               md-whiteframe="4" md-is-locked-open="$mdMedia('gt-md')">

      <md-toolbar class="md-primary md-hue-2">
        <h1 class="md-toolbar-tools">Search</h1>
      </md-toolbar>

      <md-content layout-margin>
       
       <form name="userForm" >

        <div layout-gt-xs="row">
           <md-input-container>
        <label>Course{{c}}</label>

         <md-select placeholder="Select Course" ng-model="SelectedCourse" md-on-open="GetAllCourses()" style="width:300px">
      <md-option ng-value="c" ng-repeat="c in Courses">{{c.CourseName}}</md-option>
    </md-select>
        <div class="errors" ng-messages="myForm.favoriteColor.$error">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>

        
        </div>

           <div layout-gt-xs="row">
           <md-input-container>
        <label>Module</label>
         <md-select placeholder="Select Module" ng-model="SelectedModule" md-on-open="GetUserModulesByCourseId()" style="width:300px">
      <md-option ng-value="m" ng-repeat="m in Modules">{{m.ModuleName}}</md-option>
    </md-select>
        <div class="errors" ng-messages="myForm.favoriteColor.$error">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>

        
        </div>

      
      
          <md-button ng-click="SearchPackage()" class="md-raised">
           Search
          </md-button>
      </form>
      </md-content>

    </md-sidenav>
      <div layout="column"  layout-fill  class="md-whiteframe-z2 relative">
    
  <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left1')" hide-gt-md aria-label="Menu" class="md-icon-button md-primary">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
        <h2>
          <span>Page</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Add New Page" ng-click="AddNewPage()" ng-show="SelectedModule">
             <md-tooltip md-direction="top">
        Add New Page
        </md-tooltip>
          <ng-md-icon icon="add_circle_outline"></ng-md-icon>
        </md-button> 
           
          
      </div>
    </md-toolbar>
<md-content flex >
    <div layout="column" layout-fill  ng-hide="EditPage">
   
       <p ng-if="!SelectedModule && !Pages" layout-padding>
           Please select course and module and then click search.
       </p>
        <p ng-if="SelectedModule && !Pages" layout-padding>
       No record record Found
        </p>

       
          <button class="md-primary md-button md-ink-ripple hide-gt-md" type="button" ng-click="toggleLeft()" hide-gt-md="" ng-show="!Pages"><span class="ng-scope">
            Click here to search pages
          </span></button>
     
               
     
        <!--ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)"ng-drag="true" ng-disable="true" ng-drag-data="page"-->
        <md-list sv-root sv-part="Pages" sv-on-sort="foo($item, $partFrom, $partTo, $indexFrom, $indexTo)">
          <md-list-item ng-repeat="page in Pages" class="secondary-button-padding md-whiteframe-1dp" sv-element >
               <div class="md-list-item-text" ng-class="page.PageName">
        
            <h5>{{page.DisplaySequence}}. {{ page.PageName }}</h5>
          
          </div>
              <div class="flex"></div>  
           
                <md-switch ng-model="page.isActive" md-no-ink ng-change="SetActivateDeActivatePage(page)" class="md-hue-2 md-secondary"></md-switch>
                
            
               <md-button ng-click="showTabDialog(page)" aria-label="Edit" class="md-icon-button md-secondary"> 
                      <md-tooltip md-direction="top">
        Edit Page
        </md-tooltip>                                  
                                  <ng-md-icon icon="mode_edit" ></ng-md-icon>
                                </md-button>
               <md-button class="md-icon-button md-secondary"  aria-label="Delete" ng-click="RemovePage(page,$index)"> 
                      <md-tooltip md-direction="top">
        Delete Page
        </md-tooltip>                                  
                                  <ng-md-icon icon="delete"></ng-md-icon>
                                </md-button> 
 
  </md-list-item>
            <md-divider ></md-divider>
        </md-list>
       
    </div>
        
    <div id="addeditPage" ng-show="EditPage">
        <form>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2> {{EditPage.PageName}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="EditPage=null">
<ng-md-icon icon="clear"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
   
          <md-content class="md-padding">
          <form name="userForm"  style="padding: 25px;">
                <div layout="row" layout-xs="column" layout-sm="column">
             
        <md-input-container>
          <md-switch ng-model="EditPage.hasQuiz"  class="md-hue-2">Page Type: {{EditPage.hasQuiz ? "Quiz" : "Slide"}}</md-switch>
        </md-input-container>
      </div>
        <div layout-gt-sm="row">

         
            <md-input-container class="md-block" flex-gt-sm>
            <label>Page</label>
            <input ng-model="EditPage.PageName">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm ng-hide="EditPage.hasQuiz">
            <label>Time to spend on page</label>
            <input ng-model="EditPage.TimeToSpendOnPage">
          </md-input-container>
        </div>

        <md-input-container class="md-block"  ng-hide="EditPage.hasQuiz">
          <label>File Path</label>
          <input ng-model="EditPage.FilePath">
        </md-input-container>

        <md-input-container class="md-block"  ng-hide="EditPage.hasQuiz">
          <label>Audio File Path</label>
          <input ng-model="EditPage.AudioPath">
        </md-input-container>
               <span flex></span>
    
      <md-button ng-click="SavePage()" class="md-raised">
        Submit
      </md-button>
               <md-button md-no-ink class="md-raised" ng-show="EditPage.hasQuiz &&  EditPage.PageId>0" ng-click="AddPageQuizAddQuestion()">Add New Question</md-button>
            
   <md-tabs md-selected="selectedIndex" md-border-bottom ng-show="EditPage.hasQuiz" md-dynamic-height md-border-bottom style="mid-height:400px" md-swipe-content="true">
      <md-tab ng-repeat="ques in PageQuestions"  
              label="Question-{{$index+1}}">
           <md-tab-label>
      Question-{{$index+1}}
     
    </md-tab-label>
           <md-tab-body>


           <div class="demo-tab tab{{$index%3}}" style="padding: 25px;">
              
          <md-list-item>
               <div class="md-list-item-text" layout="column">
            
            <h4>{{ ques.Question }}</h4>
          <p> <md-button class="md-icon-button" aria-label="Add New Option" ng-click="SavePageQuizQuesOption($event,ques.PageQuizQuestionId)">
                 <md-tooltip md-direction="top">
         Add New Option
        </md-tooltip>
          <ng-md-icon icon="add_circle_outline"></ng-md-icon>
        </md-button> 
         <md-button class="md-hue-2 md-icon-button" md-direction="right" aria-label="Delete Question" ng-click="RemovePageQuizAddQuestion(ques.PageQuizQuestionId)">
        <md-tooltip md-direction="top">
         Delete Question
        </md-tooltip>
                    <md-icon class="material-icons delete_forever md-48">delete_forever</md-icon>
        </md-button>
 </p>
          </div>
              <div class="flex"></div>  
           
              
  </md-list-item>
            <md-divider ></md-divider>
       
         
     


                      
       
                 <md-list-item ng-repeat="opt in PageQuesOption">
                        <md-checkbox ng-model="opt.isCorrect" ng-change="UpdatePageQuestionOption(opt)"></md-checkbox>
    <p>{{$index+1}}. {{ opt.OptionText }} </p>
 
                          <md-button class="md-icon-button md-secondary"  aria-label="Delete" ng-click="RemovePageQuizQuestionOption(opt.PageQuizQuesOptionId)">                                   
                               <md-tooltip md-direction="top">
         Delete Option
        </md-tooltip>
                                    <ng-md-icon icon="delete"></ng-md-icon>
                                </md-button>
  </md-list-item>
             
        </div>
               </md-tab-body>
      </md-tab>
    </md-tabs>
        
      </form>

          </md-content>       

     
  </form>
      
    </div>

    </md-content>

          </div>
 

</div>

