<style>
 
md-progress-linear.md-default1-theme .md-bar {
    background-color: rgb(85, 191, 0);
}
</style>
<div class="pt-3 btm-space">
   
   
         <div class="col-sm-12 ">
             <p style="text-align:center;">Complete your profile before training start  <br /><span><b>{{completePer}}%</b></span></p>
          
        <div class="progress">
   <md-progress-linear md-class="success" value="{{completePer}}" class="progress-bar progress-bar-success"></md-progress-linear>
        
        </div>
    </div>
 <md-toolbar class="md-hue-2"  ng-click="showSecurity1=!showSecurity1">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <ng-md-icon icon="account_circle"></ng-md-icon>
        </md-button>
        <h3>
          <span>Manage Profile</span>
        </h3>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
              <ng-md-icon icon="expand_less"  ng-show="!showSecurity1"></ng-md-icon>
        <ng-md-icon icon="expand_more"  ng-show="showSecurity1"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
<md-content layout-padding ng-show="!showSecurity1" class="cssSlideUp card">
    <div>
        
      <form name="ProfileForm" ng-submit="ProfileForm.$valid && UpdateUser()">
        
        <div layout-gt-xs="row">
         <md-input-container class="md-block" flex="30" flex-xs="100">
                                      
                  <label>First Name</label>
                  <input required name="FirstName" ng-model="Register.FirstName" maxlength="50"> 
                  <div ng-messages="ProfileForm.FirstName.$error">
                     <div ng-message="required">First Name is required.</div>
                  </div>
               </md-input-container>

             <md-input-container class="md-block" flex="30" flex-xs="100">
                                      
                  <label>Middle Name</label>
                  <input name="MiddleName" ng-model="Register.MiddleName" maxlength="50"> 
                  <div ng-messages="ProfileForm.MiddleName.$error">
                     <div ng-message="required">Middle Name is required.</div>
                  </div>
               </md-input-container>
             <md-input-container class="md-block" flex="40" flex-xs="100">
                                      
                                    <label>Last Name</label>
                  <input required name="LastName" ng-model="Register.LastName" maxlength="50"> 
                  <div ng-messages="ProfileForm.LastName.$error">
                     <div ng-message="required">Last Name is required.</div>
                  </div>
               </md-input-container>
        </div>
          <div layout-gt-xs="row">
            
                  <md-input-container class="md-block"  flex-xs="100" flex="30">
                                      
                  <label>Date of Birth</label>
                   <md-datepicker ng-model="Register.DOB" flex="100" name="DOB" type="date" flex="100" md-max-date="Register.maxDate" md-min-date="Register.minDate" required></md-datepicker>
                      <div class="hint" style="margin-left:70px">mm/dd/yyyy</div>
                 <!-- <input required name="DOB" ng-model="Register.DOB"> -->                                        
                  <div ng-messages="ProfileForm.DOB.$error">
                     <div ng-message="required">Date of Birth is required.</div>
                          <div ng-message="valid">Incorrect date of birth.</div>
                      <div ng-message="maxdate">You must be atleast 18 years old</div>
                  </div>
               </md-input-container>

              <md-input-container class="md-block"  flex-xs="100" flex="70">
                                      
                  <label>Social Security Number</label>
                  <input  name="SSN"  wt-easy-mask='999-99-9999'  maxlength="11" ng-model="Register.SSN"  ng-pattern="/^(?!(000|666|9))\d{3}-(?!00)\d{2}-(?!0000)\d{4}$/" required> 
                  <div class="hint">999-99-9999</div>
                  <div ng-messages="ProfileForm.SSN.$error">
                        <div ng-message="required">SSN is required.</div>
                        <div ng-message="pattern">Please enter a valid SSN.</div>
                  </div>
               </md-input-container>
                </div>
          <div layout-gt-xs="row">
               <md-input-container class="md-block" flex="100">
                                      
                  <label>Street Address</label>
                  <input required name="Address" ng-model="Register.Address" maxlength="100"> 
                  <div ng-messages="ProfileForm.Address.$error">
                     <div ng-message="required">Street Address is required.</div>
                  </div>
               </md-input-container>
              </div>
           <div layout-gt-xs="row">
                 <md-input-container class="md-block" flex="40" flex-xs="100">
                                      
                  <label>City</label>
                  <input required name="City" ng-model="Register.City" maxlength="100"> 
                  <div ng-messages="ProfileForm.City.$error">
                     <div ng-message="required">City is required.</div>
                  </div>
               </md-input-container>
                <md-input-container class="md-block" flex="30" flex-xs="100">
            <md-icon class="form-icon"></md-icon>
                                      
                  <label>State</label>
                  <input  name="State" ng-model="Register.StateName" required maxlength="50"> 
                  <div ng-messages="ProfileForm.State.$error">
                     <div ng-message="required">State is required.</div>
                  </div>
               </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
            <label>Zip</label>
            <input name="postalCode" ng-model="Register.Zip"  wt-easy-mask='99999' 
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

            <div ng-messages="ProfileForm.postalCode.$error" role="alert">
              <div ng-message="required" class="my-message">ZIP is required</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid zip
                code.
              </div>
              <div ng-message="md-maxlength" class="my-message">
                 Zip code should not br greater than 5 digit.
              </div>
            </div>
          </md-input-container>

                       
               </div>

             <div layout-gt-xs="row">
                   <md-input-container class="md-block" flex-xs="100" flex="50">
                                      
                  <label>Primary Phone</label>
                  <input   name="PrimaryPhone" ng-model="Register.PrimaryPhone" maxlength="13"  wt-easy-mask='(999)999-9999'  ng-pattern="/^\([0-9]{3}\)[0-9]{3}-[0-9]{4}$/" required> 
                          <div class="hint">(999)999-9999</div>
                  <div ng-messages="ProfileForm.PrimaryPhone.$error">
                       <div ng-message="required" class="my-message">Please enter phone number.</div>
                       <div ng-message="pattern">Please enter valid phone number.</div>
                  </div>
               </md-input-container>

            <md-input-container class="md-block" flex-xs="100" flex="50">
                                      
                  <label>Alternate Phone</label>
                  <input name="AlternatePhone"  ng-model="Register.AlternatePhone" maxlength="13"  wt-easy-mask='(999)999-9999'  ng-pattern="/^\([0-9]{3}\)[0-9]{3}-[0-9]{4}$/">
                    <div class="hint">(999)999-9999</div> 
                  <div ng-messages="ProfileForm.AlternatePhone.$error">
                      <div ng-message="pattern">Please enter valid phone number.</div>
                  </div>
               </md-input-container>

                 </div>
            
               <div layout="row">
        
          <span flex></span>
          
                    <md-button type="submit" 
        promise-btn="UpdatePromise" class="md-raised md-primary"><span class="btn-spinner"></span> Save</md-button>
        </div>

      </form>
    </div>
  </md-content>

  <md-toolbar class="md-hue-2"  ng-click="showSecurity=!showSecurity">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <ng-md-icon icon="security"></ng-md-icon>
        </md-button>
        <h2>
          <span>Manage Security Questions</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
              <ng-md-icon icon="expand_less"  ng-show="showSecurity"></ng-md-icon>
        <ng-md-icon icon="expand_more"  ng-show="!showSecurity"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
<md-content layout-padding ng-show="showSecurity" class="cssSlideUp card">
  
      <form name="SecurityForm" ng-submit="SecurityForm.$valid && SaveUserSecurityQuestAns()">

        <div layout-gt-xs="row" ng-repeat="uq in UserSecurityQuestAnswers">
          <md-input-container class="md-block" flex="60">
            <label>Security Question</label>
           <md-select ng-model="uq.SecurityQuestionId" name="SecurityQues_{{$index}}"   ng-change="FilterSecurityQuestion()" required>
              <md-option ng-repeat="ques in uq.SelectList" value="{{ques.SecurityQuestionId}}">
                {{ques.SecurityQuestion}}
              </md-option>
            </md-select>
               <div ng-messages="SecurityForm['SecurityQues_' + $index].$error">
                     <div ng-message="required">Security question is required.</div>
                  </div>
          </md-input-container>

          <md-input-container  flex="40">
            <label>Answer</label>
            <input ng-model="uq.SecurityQuestionAnswer" type="password" unique-Ans="UserSecurityQuestAnswers" ng-change="upChanged(this, $index)"  name="SecurityQuesAns_{{$index}}" required>
               <div ng-messages="SecurityForm['SecurityQuesAns_' + $index].$error">
                     <div ng-message="required">Answer is required.</div>
                    <div ng-message="uniqueAns">Answer should be different.</div>                   
                  </div>
          </md-input-container>
        </div>
               <div layout="row">
        
          <span flex></span>
          
                    <md-button type="submit" ng-disabled="SecurityForm.$invalid"
        promise-btn="SavePromise" class="md-raised md-primary"><span class="btn-spinner"></span> Save</md-button>
        </div>

      </form>
 
 <br />
  </md-content>
   
</div>
