<!--Main layout-->
    <main id="my-courses-page">
        <div class="container-fluid"><br>
            <!--Divider-->
            <div class="divider-new">
                <h2 class="h2-responsive"> Core </h2>
            </div>
 
 <img src="../img/filter.jpg" alt="">

<!--First row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-lg-4 col-md-6 m-b-r wow fadeInLeft" data-wow-delay="0.4s">

                        <!--Card-->
                        <div class="card card-cascade narrower">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="../img/myCourse1.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                        </div>
                        <!--/.Card-->

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-lg-4 col-md-6 m-b-r wow fadeInLeft" data-wow-delay="0.3s">

                        <!--Card-->
                        <div class="card card-cascade narrower">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                 <img src="../img/myCourse2.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-lg-4 col-md-6 m-b-r wow fadeInLeft" data-wow-delay="0.2s">

                        <!--Card-->
                        <div class="card card-cascade narrower">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="../img/myCourse3.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--/Third column-->

                </div>
                <!--/First row-->




<!--Core Courses Table-->

<table id="my-core-courses" class="table table-striped">
  <thead>
    <tr>
      
      <th>Course Name</th>
      <th>Time (hours)</th>
      <th>Status</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    
       <tr>
      <td>Communications</td>
      <td>4</td>
      <td>
           <fieldset class="form-group courses-input">
                    <input type="text" id="">
                    <label for=""></label>
                </fieldset>
      </td>
      <td>%</td>
    </tr>
    <tr>
      <td>The Security Professional</td>
      <td>4</td>
      <td>
           <fieldset class="form-group courses-input">
                    <input type="text" id="">
                    <label for=""></label>
                </fieldset>
      </td>
      <td >%</td>
      
    </tr>
     <tr>
      
      <td>Protecting The Security Officer</td>
      <td>4</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
     <tr>
      
      <td>Weapons Of Mass Destruction</td>
      <td>4</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
     <tr>
      
      <td>Power To Arrest</td>
      <td>4</td>
      <td>
           <fieldset class="form-group courses-input">
                    <input type="text" id="">
                    <label for=""></label>
                </fieldset>
      </td>
      <td>
     %
      </td>
    </tr>
      <tr>
      
      <td>Emergency Response</td>
      <td>4</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>   
    </tr>
  </tbody>
</table>

<h4 class="text-red">Click on course title above, slides appear below, table or cards, shrink / close.</h4>
<img src="../img/slides.jpg" />
<!--End Core Courses Table-->

<!--Elective Courses Table-->
<!--Divider-->
            <div class="divider-new">
                <h2 class="h2-responsive"> Elective </h2>
            </div>


<table id="my-elective-courses" class="table table-striped">
  <thead>
    <tr>
      
      <th class="course-name">Course Name</th>
      <th class="course-time">Time (hours)</th>
      <th class="course-status">Status</th>
      <th class="course-percentage">%</th>
    </tr>
  </thead>
  <tbody>
    
    
    <tr>
      
      <td>Medical Response Training</td>
      <td>2</td>
      <td>
          <fieldset class="form-group courses-input">
              <input type="text" id="">
              <label for=""></label>
          </fieldset>
    </td>
      <td>%</td>
      
    </tr>
    <tr>
      
      <td>Advanced Crowd Control</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
    <tr>
      
      <td>Handling Difficult People</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
    <tr>
      
      <td>Courtroom Demeanor</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
      <tr>
      
      <td>Preserving The Scene</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
      <tr>
      
      <td>Security Officer Patrol Techniques</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
      
      <tr>
      
      <td>Driver Safety</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
      <tr>
      
      <td>De-escalation Techniques</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
      <tr>
      
      <td>Access Control</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
      
     
      <tr>
      
      <td>Workplace Violence</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
    <tr>
      
      <td>Chemical Agent Response</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
      <tr>
      
      <td>Security Officer Safety</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
      <tr>
      
      <td>Suspicious Package Response</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
      <tr>
      
      <td>Workplace Essentials</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
      <tr>
      
      <td>Power To Arrest Review</td>
      <td>2</td>
      <td>            <fieldset class="form-group courses-input">                     <input type="text" id="">                     <label for=""></label>                 </fieldset>                  </td>
      <td>%</td>
      
    </tr>
     
      
  </tbody>
</table>

<!--End Elective Courses Table-->
</div>
</main>
<!--/Main layout-->

