
  <div ng-include="'templates/PartialPage/AccountNavigation.html'"></div>
<div class="container">

<!--Main layout-->
<main class="pt-1">
    <section class="container">
        <!--/.Navbar-->  
      
     

         <md-toolbar class="md-primary md-breadcrumb" md-scroll-shrink>
      <div class="md-toolbar-tools">



        <a class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <ng-md-icon icon="navigate_before" back-button></ng-md-icon>
        </a>

        <h2 flex md-truncate><ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy"></ui-breadcrumbs></h2>

       
      </div>
    </md-toolbar>
  
     <ui-view layout="column" layout-fill md-theme="default1" style="min-height:550px;">
         
          
        </ui-view>
           
        



    </section>


</main>
    </div>

<!--/Main layout-->
