

<md-content class="md-padding" layout-xs="column" layout="row">
   <div style="text-align:center" ng-show="UserCourses.length==0">
                <h1><b>Your account is under review and not activated yet. You will be notified via email once your account gets activated.</b></h1>
            </div>
    <div flex-xs="100" flex-sm="50" flex-md="50" flex="33"  layout="column" ng-repeat="MCourse in UserCourses" >
                
                <!--Card-->
              <md-card>

                    <!--Card image-->
                    <img class="img-fluid" src="img/{{MCourse.ImageFile}}" alt="Card image cap">
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block block-content">
                        <!--Title-->
                        <h4 class="card-title">{{MCourse.CourseName}}</h4>
                        <!--Text-->
                        <p><span>Modules : {{MCourse.TotalModules}}</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span>Duration : {{MCourse.Duration}} Hrs</span></p>
                       
                        <progress class="progress progress-success" value="{{MCourse.Percentage}}" max="100">{{MCourse.Percentage}}%</progress>
                        <span ng-if="MCourse.StatusId == 1 || MCourse.StatusId == 2" >  
                        <p class=" pad-top"><i class="fa fa-clock-o"></i> Expiration Date:  {{MCourse.ValidTill | date}} </p>
                        </span>
                        <span ng-if="MCourse.StatusId == 4" >  
                        <p  style="color:red !important; font-size:15px !important;">For the security reasons your account is temoparily locked </p>
                           <button ng-click="UnLockAccount($event,MCourse.CourseId)" class="btn btn-danger">UnLock Account</button>
                        </span>
                          <span ng-if="MCourse.StatusId == 5 || MCourse.StatusId == 6" >  
                        <p class=" pad-top" style="color:red !important; font-size:13px !important;">Subscription Expired </p>
                        </span>
                         <span ng-if="MCourse.StatusId== 2">  
                         <p class=""><a class="btn btn-primary" ng-click="GetModulesByCourseId(MCourse.CourseId)">Resume</a></p>
                        </span>
                        <span ng-if="MCourse.StatusId== 3">  
                         <p class=""><a class="btn btn-primary" ng-click="GetModulesByCourseId(MCourse.CourseId)">Review</a></p>
                        </span>
                               
                        <span ng-if="MCourse.StatusId== 1" >  
                        <p class=""><a class="btn btn-primary" ng-click="GetModulesByCourseId(MCourse.CourseId)">Start</a></p>
                        </span>
                         <span ng-if="MCourse.StatusId == 5">  
                        <p class=""><a class="btn btn-danger" ng-click="AddToCart(MCourse,'Course','Repurchase')">RePurchase</a></p>
                        </span>
                        <span ng-if="MCourse.StatusId == 7" >  
                        <p class=" pad-top" style="color:red !important; font-size:13px !important;">Certificate Expired </p>
                        </span>
                         <span ng-if="MCourse.StatusId == 7" >  
                        <p class=""><a class="btn btn-danger" ng-click="AddToCart(MCourse,'Course','Renew')">Renew</a></p>
                        </span>
                       <span flex></span>
                        
                            <span ng-if="MCourse.ResultTypeId == 1" >  
                           <p class=""><a class="btn btn-success" ng-click="Generate()">Download Certificate</a></p> </span>
                         
                       
                    </div>

                    <!--/.Card content-->

                </md-card>
                <!--/.Card-->
            </div>
</md-content>
