<!--Main layout-->
    <main>
        <div class="container-fluid"><br>
<hr class="between-sections">
            <!--Divider-->
            <div >
                <h2 class="h2-responsive"> Packages</h2>
            </div>
   <p></p>
            <!--Section: Products v.1-->
            <section id="packages" class="section">

                <!--Section heading-->
                <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s"></h1>
                <!--Section sescription-->
                <p class="section-description wow fadeIn" data-wow-delay="0.4s"></p>

               

            <!--Second row-->
                <div id="packages-photo-row" class="row">
                    <!--First column-->
                    <div class="col-md-12 m-b-r wow fadeIn" data-wow-delay="0.2s">
                       <div class="card-deck-wrapper">
                      <div class="card-deck">
                       <!--Card-->
                        <div class="card  wider">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="../img/handcuffs.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block text-xs-left">
                                <!--Category & Title-->
                               
                                 <span class="packages-card-title"><strong>40</strong></span><span class="packages-hours"> Hours</span>

                                

                                <!--Description-->
                                <p class="card-text">All core courses are included in this package. Choose 
any combination of elective courses to make up the 
remaining 16 hours.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="left">$299</span>
                                    <span class="right">
                                <a data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                               
                                
                            </span>
                                </div>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                        <!--Card-->
                        <div class="card  wider">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="../img/tsa.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block text-xs-left">
                                <!--Category & Title-->
                               
                                 <span class="packages-card-title"><strong>32</strong></span><span class="packages-hours"> Hours</span>

                                

                                <!--Description-->
                                <p class="card-text">After completing Powers to Arrest and Weapons of Mass Destruction, purchase this package to get the remaining 16 hours of core courses and choose any combination of elective courses for the other 16 hours for a total of 32 hours.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="left">$249</span>
                                    <span class="right">
                                <a data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                               
                                
                            </span>
                                </div>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                        <!--Card-->
                        <div class="card  wider">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="../img/tsa.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block text-xs-left">
                                <!--Category & Title-->
                               
                                 <span class="packages-card-title"><strong>8</strong></span><span class="packages-hours"> Hours</span>

                                

                                <!--Description-->
                                <p class="card-text">Powers to Arrest and Weapons of Mass Destruction.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="left">$149</span>
                                    <span class="right">
                                <a data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                               
                                
                            </span>
                                </div>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->
                  
                    <!--/First column-->

                    <!--Second column-->
                   
                        <!--Card-->
                        <div class="card  wider">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="../img/security-officer.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->
                            <!--Card content-->
                            <div class="card-block text-xs-left">
                                <!--Category & Title-->
                               
                                
                                <h4 class="card-title"><strong><a href="">Re-certification / Continuing Education</a></strong></h4>

                               

                                <!--Description-->
                                <p class="card-text">Choose any combination of courses equal to 8 hours.
                                </p>

                                <!--Card footer-->
                                <div class="card-footer">
                                    <span class="left">$60</span>
                                    <span class="right">
                                <a data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                               
                            </span>
                                </div>

                            </div>
                            <!--/.Card content-->
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/Second column-->
                </div></div></div>
                <!--/Second row-->
            </section>
            <!--/Section: Products v.1-->

            <hr class="between-sections">

           

        </div>
    </main>
    <!--/Main layout-->

