<section style="max-width: 400px">
    <form name="starttrainingForm" ng-submit="StartTraining()">


        <div class="activity-header">
            <h3><b>Payment successful</b></h3>
        </div>
        <div class="col-sm-12 exam-instruction" style="width: 100%;">

            <div ng-if="PurchaseType=='Repurchase'">
                <p>You have successfully renew this course.</p>
            </div>

            <div ng-if="PurchaseType=='Purchase'">
                <p>You have successfully purchase this course.</p>
            </div>

            <p style="text-align: center;">
                <button md-autofocus autofocus type="submit" class="btn btn-primary btn-lg">Start Training</button>

            </p>
        </div>
    </form>
</section>