

<div class="overlay" style="display: none;"></div>
<!-- Player Section -->

<div layout="row" flex layout-wrap>
    <div flex-xs="100" flex-sm="30" flex-md="20" flex="30" ng-init="GetSelectedPagesByModuleId()" ng-hide="isReview">
        <div class="module-section" >

            <h3 ng-repeat="y in GetMandateCourseModuleNameById"><i class="fa fa-folder-o"></i>&nbsp;&nbsp;{{y.CourseName}}&nbsp;&nbsp;/&nbsp;&nbsp;<span>{{y.ModuleName}}</span></h3>
            <span class="course-button" id="mobileView"><i class="fa fa-bars"></i></span>
             <ul class="mobile-view">              

                <li ng-repeat="x in Pages" ng-class="{'active': x.PageId == SelectedPage.PageId}">

                    <a id="btn" ng-click="x.isEnable && DisplaySlide(x.PageId,SelectedPage.hasQuiz)">
                        {{x.DisplaySequence}}
                        {{x.PageName}}                       
                        <span class="pull-right" ng-show="x.PageId == SelectedPage.PageId">
                            <i class="fa fa-play" ng-show="isPause" ng-click="ResumeSlide()"></i>
                            <i class="fa fa-pause" ng-hide="isPause" ng-click="PauseSlide()"></i>
                            <i class="fa fa-rotate-right"></i>

                        </span>

                    </a>

                </li>
            </ul>
        </div>
         
    </div>
    <section flex-xs="100" flex-sm="{{FlexSM}}" flex-md="{{FlexMD}}" flex="{{Flex}}" >

        <div class="playersection">
            <!-- Selected Page: {{SelectedPage.PageName}}-->
       
            <div class="html-container1" id="container" ng-hide="SelectedPage.hasQuiz">

            </div>
            <p ng-show="isReview">
                <button type="button" class="btn btn-primary" ng-click="BackToList()">Back to Review</button>
            </p>

            <div class="html-container1" ng-show="SelectedPage.hasQuiz">

                <div class="col-sm-12" ng-hide="QuickCheck">
                    <section class="hero is-fullheight intro-bg" style="min-height: 80vh !important;">
                        <div class="hero-body">
                            <div class="container has-text-centered">
                               <h1 class="check-heading">Quick Check<span class="fa fa-check-square-o"></span></h1>
                            </div>
                        </div>
                    </section>
                   
                </div>
                 <div class="clearfix"></div>
              
                <section class="section" ng-show="QuickCheck">

                    <div class="quizSection">
                        <div class="activity-header">
                            <div class="activity-help" ng-click="showHelp()">
                                <span class="fa fa-question"></span>
                            </div>
                            <p><b>{{ActivePageQuestionIndex+1}} of {{PageQuestions.length}}</b></p>
                            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">{{ PageQuestions[ActivePageQuestionIndex].Question }}</h3>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <p>&nbsp;</p>

                                    <div>

                                        <div class="col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                                            <md-radio-group ng-model="PageQuestions[ActivePageQuestionIndex].SelectedAnswer">

                                            <md-radio-button ng-repeat="option in PageQuesOption" ng-disabled="option.isDisabled" 
                                                             ng-value="$index"
                                                             ng-class="{'md-align-top-left': $index==1}" >
                                                {{ option.OptionText }}<br/>
     
                                            </md-radio-button>

                                        </md-radio-group>
                                        </div>
                                    </div>
                                    <md-button class="btn-primary wow fadeIn" ng-click="SubmitPageAnswer()" data-wow-duration="1s" data-wow-delay="2s">{{ButtonText}}</md-button>

                                </div>
                                <div class="column">
                                    <div class="answer-col">
                                        <div class="wow slideInLeft" data-wow-duration="1s" ng-if="Message" ng-bind-html="Message">
                                        </div>
                                    </div>
                                    <h3><b></b></h3>
                                    <h4></h4>
                                    <div class="column is-8 ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="player-panel" ng-hide="isReview">
                <div class="play-control">
                    <div class="pull-left" ng-hide="SelectedPage.hasQuiz">
                        <a id="play" ng-show="isPause" ng-click="ResumeSlide()"><i class="fa fa-play fa-1x"></i></a>
                        <a id="pause" ng-hide="isPause" ng-click="PauseSlide()"><i class="fa fa-pause"></i></a>
                        <a id="stop"><i class="fa fa-stop fa-1x"></i></a>
                        <a ui-sref="#" id="rewind" ng-click="DisplaySlide(SelectedPage.PageId,SelectedPage.hasQuiz)"><i class="fa fa-rotate-right fa-1x"></i></a>
                        {{audio.currentTime | trackTime}}{{Pages.FilePath}}
                    </div>
                    <div class="pull-right">
                        <a ng-show="SelectedPage.PreviousPageNumber>0" ng-click="DisplaySlide(SelectedPage.PreviousPageNumber,SelectedPage.hasQuiz)" id="prev"><i class="fa fa-arrow-left fa-1x"></i></a>
                        <span>{{SelectedPage.DisplaySequence}} of {{Pages.length}}</span>
                        <a ng-show="SelectedPage.TrainingStatusId==3 && SelectedPage.NextPageNumber>0" ng-click="DisplaySlide(SelectedPage.NextPageNumber,SelectedPage.hasQuiz)" id="next"><i class="fa fa-arrow-right fa-1x"></i></a>


                        <!-- <a ui-sref="#"><i class="fa fa-arrows-alt fa-1x"></i></a>-->
                        <!--  <a ui-sref="#" onclick="FullScreen()"><i class="fa fa-arrows-alt fa-1x"></i></a>-->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        
    </section>

</div>

<script src="../HTML Slide/js/wow.min.js"></script>
<script>
  
    $("#defaultAnimation").velocity(
  {
      scale: 1
  },
  {
      duration: 800,
      display: "block"
  });

    $("#mobileView").click(function () {
        // alert('test');
        $(".mobile-view").toggleClass("nav-show");
        $(".overlay").fadeIn('fast');
        event.preventDefault()

    });
    $(".overlay").click(function () {
        //alert('test');
        $(".mobile-view").removeClass("nav-show");
        $(".overlay").fadeOut('fast');

    });





</script>





<script>
    function FullScreen() {

        var el = document.getElementById("container");
        var requestMethod = el.requestFullScreen || el.webkitRequestFullScreen
        || el.mozRequestFullScreen || el.msRequestFullScreen;

        if (requestMethod) {

            requestMethod.call(el);

        } else if (typeof window.ActiveXObject !== "undefined") {

            var wscript = new ActiveXObject("WScript.Shell");

            if (wscript !== null) {
                wscript.SendKeys("{F11}");
            }
        }
    }
</script>

<!--<script type="text/javascript">
    function display(pg,con) {
     //   var id = $(el).attr('id');
        $('#container1').load('../HTML%20Slide/'+pg+' #'+con);
        alert(pg+'  '+con);
    }
</script>-->
