<md-dialog id="privacy-dialog" aria-label="Privacy Policy" ng-cloak>
             
        <md-toolbar class="md-primary">
          <div class="md-toolbar-tools">
            <h2>Privacy Policy</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
              <ng-md-icon icon="clear"></ng-md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content>
             <div style="padding:25px;">
         <P>SORT is committed to promoting and protecting the privacy rights of individuals, as enumerated in Article 1 of the SORT CA Constitution, the Information Practices Act of 1977, and other state and federal statutes. </P>
            <p>It is the policy of SORT to limit the collection and safeguard the privacy of personal information collected or maintained by SORT. SORT's information management practices are consistent with the Information Practices Act (Civil Code Section 1798 et seq.), the Public Records Act (Government Code Section 6250 et seq.), Government Code Sections 11015.5 and 11019.9, and with other applicable laws pertaining to information privacy. </p>
            <p>SORT follows these principles in collecting and managing personal information:</p>
            <p><strong>We collect personal information on individuals only as allowed by law.</strong> We limit the collection of personal information to what is relevant and necessary to accomplish a lawful purpose of SORT Training. For example, we need to know someone's address, telephone number and social security number, among other things, to properly identify the person before issuing a professional license. Personal information, as defined in the Information Practices Act, is information that identifies or describes an individual including, name, social security number, physical description, home address, home telephone number, education, financial matters, and medical or employment history.</p>
            <p>We do not collect home, business or e-mail addresses, or account information from persons who browse our Internet sites. We collect personal information about you only if you provide it to us voluntarily through e-mail, registration forms, or surveys.</p>
            <p><strong>We tell people who provide personal information to SORT the purpose for which the information is collected.</strong> We tell persons who are asked to provide personal information about the general uses that we will make of that information. We do this at the time of collection. With each request for personal information, we provide information on the authority under which the request is made, the principal uses we make of the information and the possible disclosures we are obligated to make to other government agencies and to the public.</p>
            <p><strong>We tell people who provide personal information about their opportunity to review that information.</strong> SORT allows individuals who provide personal information to review the information and contest its accuracy or completeness.</p>
            <p><strong>We use personal information only for the specified purposes, or purposes consistent with those purposes, unless we get the consent of the subject of the information, or unless required by law or regulation.</strong> The Public Records Act exists to ensure that government is open and that the public has a right to have access to appropriate records and information possessed by state government. At the same time, there are exceptions in both state and federal law to the public's right to access public records. These exceptions serve various needs including maintaining the privacy of individuals. In the event of a conflict between this Policy and the Public Records Act, the Information Practices Act or other law governing the disclosure of records, the applicable law will control.</p>
            <p><strong>We use information security safeguards.</strong> We take reasonable precautions to protect the personal information on individuals collected or maintained by SORT against loss, unauthorized access, and illegal use or disclosure. Personal information is stored in secure locations. Our staff is trained on procedures for the release of information, and access to personal information is limited to those staff whose work requires it. Confidential information is destroyed according to the Department's records retention schedule. SORT conducts periodic audits to ensure that proper information management policies and procedures are being followed. </p>
            <p><strong>
                We will provide additional explanations of our privacy policy if requested.</strong> If you have further questions about SORT's privacy policy, you may write or call the SORT Corporate Office, SORT CA, TX, 78148, United States, +1(210)945-1900.
            </p>
            </div>
        </md-dialog-content>
                   

              </md-dialog>
