<!--<link type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />-->

<style>
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>



<div class="card" layout-padding>
   

<form name="PromotionForm" ng-submit="PromotionForm.$valid && InsertPromotions()" autocomplete="nope">

    <div layout="row">

        <h2 class="text-success text-center" style="text-align: center;"><b>{{Message}}</b></h2>

    </div>


    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex="30" flex-xs="100">                                      
                  <label>Promo Name</label>        
                    <input type="text" id="txtPromoName" name="txtPromoName" class="txtPromoName" ng-model="Promotion.PromoName" maxlength="10" required/>   
                    <div ng-messages="PromotionForm.txtPromoName.$error">
                     <div ng-message="required">Promo name is required.</div>
                     <div ng-message="maxlength">The promo name cannot exceed 10 characters in length</div>
                  </div>                           
             </md-input-container>
    </div>
    <div layout-gt-xs="row">


        <label>Promo Type</label>
        &nbsp;&nbsp;
            <md-radio-group layout="row" ng-checked="true" ng-model="Promotion.PromoTypeId" ng-init="Promotion.PromoTypeId=1">
  <md-radio-button value=1 class="md-primary">Flat</md-radio-button>
  <md-radio-button value=2> Float </md-radio-button>
</md-radio-group>


    </div>

    <div layout-gt-xs="row">

        <md-input-container class="md-block" flex="30" flex-xs="100">                                      
                  <label>Promo Code</label>        
                    <input type="text"  id="txtPromoCode" name="txtPromoCode" class="txtPromoCode form-control" ng-model="Promotion.PromoCode" maxlength="15" required/>                           
                    <div ng-messages="PromotionForm.txtPromoCode.$error">
                     <div ng-message="required">Promo code is required.</div>
                        <div ng-message="maxlength">The Promo code cannot exceed 15 characters in length</div>

                    </div>
             </md-input-container>

    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex="30" flex-xs="100">                                      
                  <label>Promo Value</label>        
                    <input type="number" id="txtPromoValue" name="txtPromoValue" class="txtPromoValue" ng-model="Promotion.PromoValue" max="100"  required/>   
                    <div ng-messages="PromotionForm.txtPromoValue.$error">
                     <div ng-message="required">Promo Value is required.</div>   
                     <div ng-message="max">The Promo value cann't exceed from 100</div>   
                    </div>        
             </md-input-container>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex="30" flex-xs="100">                                      
                  <label>Promo Valid From</label>       
                   
                <md-datepicker name="dataValidFrom"  md-min-date="Promotion.ValidFromMin" md-max-date="Promotion.ValidFromMax" ng-model="Promotion.ValidFrom" md-placeholder="Promo Valid From" md-open-on-focus  required></md-datepicker> 
                   <div ng-messages="PromotionForm.dataValidFrom.$error">
                       <div ng-message="valid">The entered value is not a date!</div>
                     <div ng-message="required">Promo valid from date is required.</div></div>                      
             </md-input-container>
        <md-input-container class="md-block" flex="30" flex-xs="100">                                      
                  <label>Promo Valid Up to</label>      
                   
                <md-datepicker name="DatevalidUpto" md-min-date="Promotion.ValidUpto"  ng-model="Promotion.ValidUpto" md-placeholder="Promo Valid Up to" md-open-on-focus required></md-datepicker>
                    <div ng-messages="PromotionForm.DatevalidUpto.$error">
                        <div ng-message="valid">The entered value is not a date!</div>
                     <div ng-message="required">Promo valid from date is required.</div></div>                         
             </md-input-container>

    </div>

    <div layout="row">
        <!--<span flex="30"></span>-->

        <md-button type="submit" promise-btn="SavePromotionPromise" class="md-raised md-primary" ng-disabled="PromotionForm.$invalid"><span class="btn-spinner"></span> Submit</md-button>
    </div>
   
   


</form>




</div>


<div class="card" layout-padding>
    
    
    
    
    <div ng-init="getallPromotions()" ng-cloak>
       


        <div ng-show="Promotions.length>0">
             <md-table-container>
  <table data-md-table  data-ng-model="selected" md-progress="promise">
    <!-- <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column ng-repeat="column in columns" md-numeric="column.numeric" md-order-by="{{column.orderBy}}">
          <span>{{column.name}}</span>
          <span ng-if="column.unit">({{column.unit}})</span>
        </th>
      </tr>
    </thead> -->
    <thead  md-head data-md-order="query.order">
      <tr md-row>
     
          
          <th md-column md:order:by="PromoType">Promo Type</th>
                        <th md-column md:order:by="PromoName">Promo Name</th>
                        <th md-column md:order:by="PromoCode">Promo Code</th>
                        <th md-column md:order:by="PromoValue">Promo Value</th>
                        <th md-column md:order:by="PromoValidFrom">Promo Valid From</th>
                        <th md-column md:order:by="PromoValidUpTo">Promo Valid UpTo</th>
                        <th>Action</th>

      </tr>
    </thead>
    <tbody md-body>
      <tr md-row  data-ng-repeat="itm in Promotions | filter: filter.search | orderBy: query.order">
    
                         <td  md-cell>{{itm.PromoType}}</td>
                        <td  md-cell>{{itm.PromoName}}</td>
                        <td  md-cell>{{itm.PromoCode}}</td>
                        <td  md-cell>{{itm.PromoValue}}</td>
                        <td  md-cell>{{itm.PromoValidFrom}}</td>
                        <td  md-cell>{{itm.PromoValidUpTo}}</td>
                           <td  md-cell>
                        <md-button id="Md-button1"  class="md-raised md-primary" ng-click="DeletePromo(itm.PromoId,itm.CompanyId,this)">Delete </md-button>
                    </td>
                         
      </tr>
    </tbody>
  </table>
</md-table-container>
            

        </div>
        <div ng-hide="Promotions.length>0" >
           
            <span style="text-align: center; font-weight: bold">There is no Promotion avaiable .</span>
        </div>
    </div>
    </div>