    <div class="html-container1">
<div class="quizSection">
                        <div class="activity-header">
                            <div class="activity-help" ng-click="showHelp()">
                                <span class="fa fa-question"></span>
                            </div>
                            
                            <p><b>{{PageQuestions[ActivePageQuestionIndex].rowNum}} of {{PageQuestions[ActivePageQuestionIndex].Count}}</b></p>
                            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">{{ PageQuestions[ActivePageQuestionIndex].Question }}</h3>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <p>&nbsp;</p>

                                    <div>
                                       
                                        <div class="col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                                        
                                            <md-radio-group ng-model="PageQuestions[ActivePageQuestionIndex].SelectedAnswer" ng-show="PageQuestions[ActivePageQuestionIndex].QuestionType==1">

                                            <md-radio-button ng-repeat="option in PageQuesOption" ng-disabled="option.isDisabled" 
                                                             ng-value="$index"
                                                             ng-class="{'md-align-top-left': $index==1}" >
                                                {{ option.OptionText }}<br/>
     
                                            </md-radio-button> 
                                           
                                            </md-radio-group>
                                               <div flex="100" ng-repeat="option in PageQuesOption"  ng-show="PageQuestions[ActivePageQuestionIndex].QuestionType==2">
                                           <md-checkbox ng-checked="exists(option, selected)" ng-click="toggle(option, selected)" >
              {{ option.OptionText }}
              </md-checkbox>
                                  </div>
                                        </div>
                                    </div>
                                    <md-button class="btn-primary wow fadeIn" ng-click="SubmitPageAnswer()" data-wow-duration="1s" data-wow-delay="2s">{{ButtonText}}</md-button>

                                </div>
                                <div class="column">
                                    <div class="answer-col">
                                        <div class="wow slideInLeft" data-wow-duration="1s" ng-if="Message" ng-bind-html="Message">
                                        </div>
                                    </div>
                                    <h3><b></b></h3>
                                    <h4></h4>
                                    <div class="column is-8 ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
<div class="player-panel" ng-hide="isReview">
    <div class="play-control">
        <div class="pull-left" ng-hide="SelectedPage.hasQuiz">
            <a id="play" ng-show="isPause" ng-click="ResumeSlide()"><i class="fa fa-play fa-1x"></i></a>
            <a id="pause" ng-hide="isPause" ng-click="PauseSlide()"><i class="fa fa-pause"></i></a>
            <a id="stop"><i class="fa fa-stop fa-1x"></i></a>
            <a ui-sref="#" id="rewind" ng-click="DisplaySlide(SelectedPage.PageId,SelectedPage.hasQuiz)"><i class="fa fa-rotate-right fa-1x"></i></a>
            {{audio.currentTime | trackTime}}{{Pages.FilePath}}
        </div>
          <div class="pull-right">
                        <a ng-show="SelectedPage.PreviousPageNumber>0" ng-click="LoadSlide(SelectedPage.PreviousPageNumber,SelectedPage.hasQuiz)" id="prev"><i class="fa fa-arrow-left fa-1x"></i></a>
                        <span>{{SelectedPage.DisplaySequence}} of {{Pages.length}}</span>
                        <a ng-show="(SelectedPage.TrainingStatusId==3 || SelectedPage.TrainingSessionId>0) && SelectedPage.NextPageNumber>0" ng-click="LoadSlide(SelectedPage.NextPageNumber,SelectedPage.hasQuiz)" id="next"><i class="fa fa-arrow-right fa-1x"></i></a>


                        <!-- <a ui-sref="#"><i class="fa fa-arrows-alt fa-1x"></i></a>-->
                        <!--  <a ui-sref="#" onclick="FullScreen()"><i class="fa fa-arrows-alt fa-1x"></i></a>-->
                    </div>
        <div class="clearfix"></div>
    </div>
</div>
