
    <section class="section">
        <div class="col-sm-">
                    <section class="hero is-fullheight intro-bg" style="min-height: 80vh !important;">
                        <div class="hero-body">
                            <div class="container has-text-centered">
                               <h1 class="check-heading">Quick Check<span class="fa fa-check-square-o"></span></h1>
                            </div>
                        </div>
                    </section>
                   
                </div>
    </section>
   
