<style type="text/css">
    .gc {
        color:rgba(20, 62, 8, 0.72);
        font-weight:bold;
    }
    .rc {
        color:rgba(255, 0, 0, 0.72);
        font-weight:bold;
    }
    .bc {
        color:rgba(31, 39, 194, 0.72);
        font-weight:bold;
    }

</style>

<section>
    <div>                   
        <table class="table">
                <tr>
                     <th >#</th>
                     <th > <span ng-if="expiredStatus==1">Select All</span> <input  ng-if="expiredStatus==1" type="checkbox"  ng-model="selectedAll"  ng-click="isSelectAll(selectedAll)" /></th>
                     <th style="display:none;">CourseId</th>
                     <th>Course Name </th>
                     <th>Purchase Date</th>
                     <th>Expired Date</th>
                     <th>Renewal Price</th>
                     <th>No. Of Licence</th>
                     <th>Status</th>               
               
                </tr>
                <tr ng-repeat="clist in Courselist">
                    <td>{{$index+1}}</td>
                     <td> 
                         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <input  type="checkbox" ng-model="clist.Checked" ng-if="clist.RemainingDays<=5" style="position:inherit; visibility:visible"    />
                     </td>
                    <td style="display:none;"> {{clist.CourseId}}</td>
                    <td>{{clist.CourseName}}</td>
                    <td> {{clist.PurchasedDate}}</td>
                    <td> {{clist.ExpiredDate}}</td>
                    <td> {{clist.RenewalPrice}}</td>
                    <td> {{clist.NoOfLicence}}</td>
                    <td class="{{clist.AppliedClassName}}"> {{clist.Status}}</td>                                
                </tr>

            </table>

        <div>
             <md-button id="btnRenew" ng-if="expiredStatus==1" type="submit" ng-click="AddToCart(Courselist,'Course','Renew')" class="md-raised md-primary">Renew</md-button>
        </div>

    </div>
</section>