<form name="RegisterForm" ng-hide="Message" ng-submit="RegisterForm.$valid && ResetPassword()" autocomplete="off">


    <div class="card" layout-padding ng-init="checkExpiredCourseDetail()">
      

        <div ng-if="RequestCodeStatus==false">          

            <md-input-container class="md-block" flex-gt-sm>
        <label>New Password</label>
        <input required type="password"  ng-minlength="6" ng-maxlength="16" tabindex="1" autofocus="autofocus"  name="password" ng-model="Reset.Password" autocomplete="new-password1"/>
           <div ng-messages="RegisterForm.password.$error">
  <div ng-message="required">Password is required</div>
  <div ng-message="minlength">Password must be 6 or more characters</div>
  <div ng-message="maxlength">Password must not exceed 16 characters</div>
</div>
        
      </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
        <label>Retype Password</label>
        <input required type="password"  ng-minlength="6" ng-maxlength="16" tabindex="2"  confirm-pwd="Reset.Password" name="retypePassword"  ng-model="Reset.RetypePassword"  autocomplete="new-password"/>
            <div ng-messages="RegisterForm.retypePassword.$error">
  <div ng-message="required">Retype your password.</div>
              <div ng-message="password">Password does not match.</div>
            
</div>
        
      </md-input-container>

            <div layout="row">

                <span flex></span>
                <md-button type="submit" tabindex="3" ng-disabled="RegisterForm.$invalid" class="md-raised md-primary">Reset Password</md-button>
            </div>

        </div>
        <div ng-if="RequestCodeStatus==true">
            <h1>Your link is expired, you have to resend password reset request.</h1>
        </div>

    </div>

</form>

