<md-dialog aria-label="{{SelectedPage.PageName}}" md-theme="default1">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Slide</h2>
      <span flex></span>
      <md-button class="md-icon-button"  ng-click="hide()">
        <ng-md-icon icon="clear"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
     <div class="html-container1" id="container" ng-hide="SelectedPage.hasQuiz">
</div>
<div class="player-panel" ng-hide="isReview">
                <div class="play-control">
                    <div class="pull-left" ng-hide="SelectedPage.hasQuiz">
                        <a id="play" ng-show="isPause" ng-click="ResumeSlide()"><i class="fa fa-play fa-1x"></i></a>
                        <a id="pause" ng-hide="isPause" ng-click="PauseSlide()"><i class="fa fa-pause"></i></a>                      
                        <a ui-sref="#" id="rewind" ng-click="LoadSlide(SelectedPage.PageId,SelectedPage.hasQuiz)"><i class="fa fa-rotate-right fa-1x"></i></a>
                        {{audio.currentTime | trackTime}}{{Pages.FilePath}}
                    </div>
                    <div class="pull-right">
                        <a ng-show="SelectedPage.PreviousPageNumber>0" ng-click="LoadSlide(SelectedPage.PreviousPageNumber,SelectedPage.hasQuiz)" id="prev"><i class="fa fa-arrow-left fa-1x"></i></a>
                        <span>{{SelectedPage.DisplaySequence}} of {{Pages.length}}</span>
                        <a ng-show="SelectedPage.TrainingStatusId==3 && SelectedPage.NextPageNumber>0" ng-click="LoadSlide(SelectedPage.NextPageNumber,SelectedPage.hasQuiz)" id="next"><i class="fa fa-arrow-right fa-1x"></i></a>


                        <!-- <a ui-sref="#"><i class="fa fa-arrows-alt fa-1x"></i></a>-->
                        <!--  <a ui-sref="#" onclick="FullScreen()"><i class="fa fa-arrows-alt fa-1x"></i></a>-->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
  </md-dialog-content>  
  </form>
</md-dialog>