  <div class="card" layout-padding>
     <md-input-container class="md-block">                                      
                  <label>Template Name</label>        
                    <input  name="TemplateName" class="txtTemplateName" ng-model="Templates.TemplateName" maxlength="200"  required/>     
                 <div ng-messages="frm_Templates.TemplateName.$error">
                     <div ng-message="required">Template Name is required.</div>
   <div ng-message="maxlength">The Template Name cannot exceed 200 characters in length</div>
                  </div>                      
             </md-input-container>
</div>