
  <md-dialog id="login-dialog"  aria-label="Login" ng-cloak>
              <form name="loginForm"  md-theme="default1"  autocomplete="nope">
        <md-toolbar class="md-primary">
          <div class="md-toolbar-tools">
            <h2>Unlock Course</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
              <ng-md-icon icon="clear"></ng-md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content" style="text-align:center">
                 <p>We have sent a temporary unlock code to your registered email address. Enter the code to unlock this course.</p>
            <md-input-container class="md-block ">
              
              <input name="username" ng-model="UnlockCode"   style="text-align:center" md-autofocus required />
            <div ng-messages="loginForm.username.$error">
                     <div ng-message="required">Please enter code.</div>
                <div ng-message="invalidCode">Invalid code.</div>
                  </div>
               </md-input-container>
              <p ng-show="CodeSent"><b>Code sent to your registered email address.</b></p>
          </div>
        </md-dialog-content>
              
        <md-dialog-actions layout="row">
           <md-button type="button" class="md-raised md-primary" ng-click=Resend() promise-btn="lockPromise" promise-btn-options="options" class="md-primary"><span class="btn-spinner"></span> Resend Code</md-button>
          <span flex></span>
          <md-button type="submit" promise-btn-options="options"
        promise-btn="UnlockPromise" class="md-raised md-primary" ng-click="loginForm.$valid && Unlock()"><span class="btn-spinner"></span> Submit</md-button>
           
        </md-dialog-actions>
      </form>
              </md-dialog>