
        <div id="table" class="table-editable card" ng-init="GetCourseListByCompId()">
            <table class="table">
                <tr >
                   
                    <th>Course</th>
                   
                     <th>Total No.License</th>
                 <!--  <th>Used License</th>-->
                </tr>
                <tr>
                    <td> <select id="Course" name="Course" class="form-control input-lg input-control" ng-model="SelectedCourse" ng-options="I as I.CourseName  for I in CourseList"  ng-change="GetCourseLicense()"  required>
                                <option value="">Select Course</option>
                            </select> </td>
                     <td>
                    {{SelectedCourse.RemainingLicence}}
                    </td>
                <!--    <td>
                      <input name="courselicense" class="form-control input-sm input-control"   type="text"  readonly ng-model="TotalUsedLicenseOfCourse" required />
                    </td>-->
                </tr>
                </table>
        </div>

      <div ng-cloak  id="div_userdetail" >
      <div  layout-padding class="card">
          
        <md-tabs  md-dynamic-height md-border-bottom  md-selected="selectedIndex">
            
          <md-tab label="UnAssigned" md-on-select="UnAssignedClick()" ng-show="Userlist.length>0" >
            <div class="md-padding" ng-show="Userlist.length>0">
            <table class="table"  >
                <tr >
                     <th >#</th>
                     <th>Assign License </th>
                    <th>Name</th>
                    <th>Phone </th>
                    <th>Email</th>
                  <!-- <th>Assign Status</th>-->
               
                </tr>
                <tr ng-repeat="user in Userlist">
                    <td>{{$index+1}}</td>
                     <td>  <md-progress-circular md-diameter="20px" ng-show="user.InProgress"></md-progress-circular>
                    <input  type="checkbox" ng-show="!user.InProgress" ng-model="user.AssignLicense" style="position:inherit ; visibility:visible"  ng-checked="user.Status== 'Assign'" ng-click="AssignCourseLicense(user)"  ng-disabled="user.Status== 'Assign'" />
                     </td>
                    <td> {{user.Name}}</td>
                    <td> {{user.PrimaryPhone}}</td>
                    <td> {{user.Email}}</td>
                  <!-- <td>
                        <span ng-init="user.Status == ''" ng-show="TotalLicenseOfCourse!=''">{{user.Status}} </span>
                   </td>-->
                    <td>
                        <md-button id="btnresetPassword" type="submit" class="md-raised md-primary" ng-click="ResetPassword(user.UserID,user.Email,this)" >Reset Password</md-button>
                    </td>
                    
                </tr>

            </table>
            </div>
               <md-content class="md-padding"  ng-hide="Userlist.length>0">
                  <p style="text-align: center; font-weight: bold">There is no  unassigned user detail avaiable .</p>
                   </md-content>
          </md-tab>
            
          
          <md-tab label="Assigned" md-on-select="AssignedClick()"  >
            <div class="md-padding"  ng-show="Userlist.length>0">
              <table class="table"  >
                <tr >
                     <th >#</th>
                     <th>Assign License</th>
                    <th>Name</th>
                    <th>Phone </th>
                    <th>Email</th>
                 <!--  <th>Assign Status</th>-->
               
                </tr>
                <tr ng-repeat="user in Userlist">
                    <td>{{$index+1}}</td>
                     <td>  <md-progress-circular md-diameter="20px" ng-show="user.InProgress"></md-progress-circular>
                    <input  type="checkbox"  ng-show="!user.InProgress" ng-model="user.AssignLicense" style="position:inherit ; visibility:visible"  ng-checked="user.Status== 'Assigned'" ng-click="UnAssignCourseLicense(user)" ng-disabled="user.StatusId!=1"  />
                     </td>
                    <td> {{user.Name}}</td>
                    <td> {{user.PrimaryPhone}}</td>
                    <td> {{user.Email}}</td>

                   <!--<td>
                        <span ng-init="user.Status == ''" ng-show="TotalLicenseOfCourse!=''">{{user.Status}} </span>
                   </td>-->
                   <td>
                        <md-button id="btn_assign_resetpassword"  class="md-raised md-primary" ng-click="ResetPassword(user.UserID,user.Email,this)">Reset Password </md-button>
                    </td>
                    
                </tr>

            </table>
            </div>
               <md-content class="md-padding"  ng-hide="Userlist.length>0">
                  <p style="text-align: center; font-weight: bold">There is no assigned user detail avaiable .</p>
                   </md-content>
          </md-tab>

        </md-tabs>
      </div>
    </div>

    
