<div class="card" layout-padding>
    <form name="frm_EmailConfiguration" ng-submit="frm_EmailConfiguration.$valid && SaveEmailConfiguration()" autocomplete="nope">

        <div ng-init="GetEmailConfiguration()">       
                     
             
             <div ng-repeat="EmailConfiguration in EmailConfigurationList">                 

                 <md-input-container class="md-block">                                      
                  <label>{{EmailConfiguration.Key}}</label>  
                     
                     <div ng-if="EmailConfiguration.Key=='Password'">
                          <input  name="EmailConfiguration.Key_{{$index}}" class='txtPromoName' ng-model="EmailConfiguration.Value" maxlength="{{EmailConfiguration.MaxLength}}" type="password"  required />     
                     </div>

                      <div ng-if="EmailConfiguration.Key=='SenderMail'">
                          <input  name="EmailConfiguration.Key_{{$index}}" class='txtPromoName' ng-model="EmailConfiguration.Value" maxlength="{{EmailConfiguration.MaxLength}}" type="email"  required />     
                     </div>

                       <div ng-if="EmailConfiguration.Key=='Port'">
                          <input  name="EmailConfiguration.Key_{{$index}}" class='txtPromoName' ng-model="EmailConfiguration.Value" maxlength="{{EmailConfiguration.MaxLength}}"  ng-pattern="/^[0-9]{1,7}$/"  required />     
                      </div>


                     <div ng-if="EmailConfiguration.Key!='Password' && EmailConfiguration.Key!='SenderMail' && EmailConfiguration.Key!='Port' ">
                     <input  name="EmailConfiguration.Key_{{$index}}" class='txtPromoName' ng-model="EmailConfiguration.Value" maxlength="{{EmailConfiguration.MaxLength}}"  required/>     
                     </div>


                 <div ng-messages="frm_EmailConfiguration['EmailConfiguration.Key_' + $index].$error">
                     <div ng-message="required">{{EmailConfiguration.Key}} is required.</div>
                     <div ng-message="maxlength">The {{EmailConfiguration.Key}} cannot exceed {{EmailConfiguration.MaxLength}} characters in length</div>
                      <div ng-show="EmailConfiguration.Key=='SenderMail'" ng-message="email">Email is invalid.</div>
                     <div  ng-show="EmailConfiguration.Key=='Port'"  ng-message="pattern">Please enter a valid Port.</div>
                  </div>                      
             </md-input-container>

             </div>

            <div layout-gt-xs="row">

                <md-button type="submit" promise-btn="SaveEmailConfigurationPromise" class="md-raised md-primary" ng-disabled="frm_EmailConfiguration.$invalid"><span class="btn-spinner"></span>Update</md-button>
            </div>

        </div>


    </form>
</div>
