<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<div id="derp" class="slideable">
     <p>&nbsp;</p>

   

     <md-input-container class="md-block">                                    
                    
                  <input style="display:none;"  name="TemplateId" class="txtTemplateId" ng-model="TemplateId" maxlength="100" required/>     
                                      
             </md-input-container>

    <md-input-container class="md-block">                                      
                  <label>Template Name</label>        
                    <input  name="TemplateName" class="txtTemplateName" ng-model="TemplateName" maxlength="100" required/>     
                 <div ng-messages="frm_TemplateMaster.TemplateName.$error">
                     <div ng-message="required">Template name is required.</div>
   <div ng-message="maxlength">The Template Name cannot exceed 100 characters in length</div>
                  </div>                      
             </md-input-container>

    <textarea id="editor" ckeditor="editorOptions" ng-model="EditorContent"></textarea>


    <p>&nbsp;</p>


    <div layout-gt-xs="row" style="float: right">

        <md-button ng-click="UpdateTemplate()" slide-toggle="#derp" promise-btn="SaveTemplateMasterPromise" class="md-raised md-primary" ng-disabled="frm_TemplateMaster.$invalid"><span class="btn-spinner"></span>{{ButtenText}}</md-button>
        <md-button ng-click="CancelDisplayTemplate()" slide-toggle="#derp" promise-btn="CancelPromise" class="md-raised md-primary" ng-disabled="frm_TemplateMaster.$invalid"><span class="btn-spinner"></span>Cancel</md-button>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

</div>

<div layout="column" layout-fill class="md-whiteframe-z2 relative">

    <md-toolbar>
      <div class="md-toolbar-tools">
       
        <h2>
          <span>Template Masters</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Add New Template" slide-toggle="#derp" ng-click="AddNewTemplate()" >
             <md-tooltip md-direction="top">
        Add New Template
        </md-tooltip>
          <ng-md-icon icon="add_circle_outline"></ng-md-icon>
        </md-button> 
           
          
      </div>
    </md-toolbar>
    <md-content flex>
      <md-table-container>
  <table data-md-table  data-ng-model="selected" md-progress="promise" ng-init="GetAllTemplates()">
  
    <thead  md-head >
      <tr md-row>     
           <th md-column md:order:by="TemplateId">TemplateId</th>
           <th md-column md:order:by="TemplateName">Template Name</th>
           <th md-column>Operation</th>
      </tr>
    </thead>
    <tbody md-body>
        <tr md-row  ng-repeat="TemplateMaster in TemplateMasterList">     
           <td md-cell><p>{{TemplateMaster.TemplateId}}</p></td>
           <td md-cell><p> {{TemplateMaster.TemplateName}}</p></td>
           <td md-cell>
            
               <p style="word-spacing: 40px;">                   
                   <a slide-toggle="#derp" ng-click="DisplayTemplate(TemplateMaster.TemplateId)" style="color: inherit;" href="javascript:void(0);"><i class="zmdi zmdi-hc-2x zmdi-edit" title="Edit"></i></a>  
                   <a style="color: inherit;" href="javascript:void(0);"><i class="zmdi zmdi-hc-2x zmdi-delete" title="Delete"></i></a>
               </p>                                 
           </td>
      </tr>
    </tbody>

      </table>
          </md-table-container>
    </md-content>
</div>
