
<nav id="mainNav" class="navbar navbar-dark navbar-fixed-top scrolling-navbar mast-nav"> 
  <!-- Collapse button-->
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx"> <i class="fa fa-bars"></i> </button>
  <div class="container"> 
    
    <!--Collapse content-->
    <div class="collapse navbar-toggleable-xs" id="collapseEx"> 
      <!--Navbar Brand--> 
      <a class="navbar-brand" href="#" target="_blank"> <img src="./img/louisiana-logo.png" width="200" /></a> 
      <!--Links-->
      <ul class="nav navbar-nav float-lg-right float-md-right">
        <li class="nav-item dropdown active"> <a class="nav-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">About us &nbsp;<i class="fa fa-angle-down"></i><span class="sr-only">(current)</span></a>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
         </li>
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" ng-click="ScrollCtrl('about-sort')">Laws & Rules &nbsp;<i class="fa fa-angle-down"></i></a>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
         </li>
        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" ng-click="ScrollCtrl('teamwork')">Courses &nbsp;<i class="fa fa-angle-down"></i></a>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
        </li>
        <li class="nav-item"> <a class="nav-link" ng-click="ScrollCtrl('faqs')">Forms</a> </li>
        <li class="nav-item"> <a class="nav-link" ng-click="ScrollCtrl('contact')">Contact Us</a> </li>
        <li class="nav-item" ng-show="!LoggedInUser"> <a class="nav-link" ng-click="login()">Login</a> </li>
        <li class="nav-item">
          <div class="dropdown"> <a class="nav-link" class="dropdown-toggle" type="button" data-toggle="dropdown" ng-show="LoggedInUser">{{LoggedInUser.FirstName}} {{LoggedInUser.LastName}} <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a ui-sref="MyCourses"><i class="fa fa-book"></i>My Course</a></li>
              <li><a ui-sref="SecurityQues"><i class="fa  fa-cog"></i>Settings</a></li>
              <li><a ng-click="logOut()"><i class="fa fa-sign-out"></i>Log Out</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!--/.Collapse content--> 
    
  </div>
</nav>

<!--Carousel Wrapper--> 
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel"> 
  <!--Indicators-->
  
  <!--/.Indicators--> 
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view hm-black-light"> <img src="./img/luisiana.png" alt="First slide" class="img-fluid"> </div>
      <div class="carousel-caption">
        <h1>Turning big <strong>ideas</strong> in to<span class="text-orange"> <strong>Courses</strong></span></h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <br>
          been the industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>
    <div class="carousel-item"> 
      <!--Mask color-->
      <div class="view hm-black-strong"> <img src="./img/luisiana.png" alt="Second slide" class="img-fluid"> </div>
      <div class="carousel-caption">
        <h1>Turning big <strong>ideas</strong> in to<span class="text-orange"> <strong>Courses</strong></span></h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <br>
          been the industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>
    <div class="carousel-item"> 
      <!--Mask color-->
      <div class="view hm-black-slight"> <img src="./img/luisiana.png" alt="Third slide" class="img-fluid"> </div>
      <div class="carousel-caption">
        <h1>Turning big <strong>ideas</strong> in to<span class="text-orange"> <strong>Courses</strong></span></h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <br>
          been the industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>
  </div>
  <!--/.Slides--> 
  <!--Controls--> 
  <a class="left carousel-control md-default1-theme" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a> <a class="right carousel-control md-default1-theme" href="#carousel-example-2" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a> 
  <!--/.Controls--> 
</div>
<!--/.Carousel Wrapper--> 
<!--/.Carousel Wrapper-->
<div class="container"> 
  
  <!-- Marketing Icons Section -->
  
  <div class="col-lg-12 text-center page-header">
    <h1> <strong>Our <span class="text-orange">Services</span></strong> </h1>
    <p class="text-center hide">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-3 text-center">
      <div class="services"> <img class="img-responsive" src="./img/security-guard.png" alt="Generic placeholder image" width="100%">
        <h2>Security Guard</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
        <p><a class="btn primary-button" href="#" role="button">Join Course</a></p>
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-sm-6 col-md-3 col-lg-3 text-center">
      <div class="services"> <img class="img-responsive" src="./img/fire-armed-trainers.png" alt="Generic placeholder image" width="100%">
        <h2>FIRE ARMED TRAINERS</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
        <p><a class="btn primary-button" href="#" role="button">Join Course</a></p>
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-sm-6 col-md-3 col-lg-3 text-center">
      <div class="services"> <img class="img-responsive" src="./img/class-room-trainers.png" alt="Generic placeholder image" width="100%">
        <h2>Class ROOM TRAINERS</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
        <p><a class="btn primary-button" href="#" role="button">Join Course</a></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 text-center">
      <div class="services"> <img class="img-responsive" src="./img/qualified-agent.png" alt="Generic placeholder image" width="100%">
        <h2>Qualified agent</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
        <p><a class="btn primary-button" href="#" role="button">Join Course</a></p>
      </div>
    </div>
    <!-- /.col-lg-4 --> 
  </div>
</div>
<!--Main layout-->
<div class="container-fluid featurette">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 offset-md-1">
          <h2 class="featurette-heading"> SORT DEMO</h2>
          <p class="lead">We are the state regulatory body for the private (contract) security industry, and are pleased to serve  you and your employees.  Here you can find the Laws & Rules that govern our industry.  While you are here, please head over to our Forms page to orient yourself with the location of our applications and other useful documents.  We are working on the implementation of an eLicensure Portal that will effectively reduce the need for paper applications and training submissions by 100 percent! </p>
          <p class="lead">Meanwhile, if you don’t see a form, document or information that you seek, contact us at the board office and we will make sure you have what you need to get going.  Thank you for your service to the citizens of SORT CA and never hesitate to reach out to us.</p>
          <p><a class="btn primary-button" href="#" role="button">Know More</a> &nbsp;&nbsp; <a class="btn primary-bdr-button" href="#" role="button">Get in Touch</a></p>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-5 padding-remove"> <img class="featurette-image img-responsive center-block" src="./img/lead.png" width="100%"> </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <section class="container">
    <section class="row">
      <aside class="col-lg-3 col-md-3 col-sm-6">
        <h2><span>Latest News</span></h2>
        <ul class="usefull-link">
          <li><a href="">Wishing each and every one of you a safe...</a></li>
          <li><a href="">Updated new company license application.. </a></li>
          <li><a href="">Quarterly Board Meeting Agenda...</a></li>
          <li><a href="">Date Stamping of Incoming Applications...</a></li>
          <li><a href=""> IASIR Conference Las Vegas...</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Note of Various kind of fee</a></li>
          <li><a href="">Terms &amp; Condition</a></li>
        </ul>
      </aside>
      <aside class="col-lg-3 col-md-3 col-sm-6">
        <h2><span>ASIS  Security News</span></h2>
        <ul class="usefull-link">
          <li><a href="">An Intelligent Solution...</a></li>
          <li><a href="">Access to Bank On...</a></li>
          <li><a href="">A Museum of the World and for the World...</a></li>
        </ul>
      </aside>
      <aside class="col-lg-3 col-md-3 col-sm-6">
        <h2><span>Security Magzine</span></h2>
        <ul class="usefull-link">
          <li><a href="">Cloud Security Leads List of Top ...</a></li>
          <li><a href="">Record Numbers of Americans...</a></li>
          <li><a href="">What Office Item Will Be Obsolete...</a></li>
        </ul>
      </aside>
      <aside class="col-lg-3 col-md-3 col-sm-6">
        <h2><span>Contact Us</span></h2>
        <h4>SORT CA State Board of Private  
          Security Examiners </h4>
        <ul class="contact-us">
          <li class="address">15703 Old Hammond Hwy
            Baton Rouge, LA 70816</li>
          <li class="phone">225-272-2310 </li>
          <li class="email"> Info@sortca.com</li>
        </ul>
        <p>Follow Us</p>
        <p class="social-icons"> <a href="#"><i class="fa fa-facebook-square"></i> </a> <a href="#"><i class="fa fa-linkedin-square"></i> </a> <a href="#"><i class="fa fa-twitter-square"></i> </a> <a href="#"><i class="fa fa-youtube-square"></i> </a> </p>
      </aside>
    </section>
  </section>
  <section class="copyright">
    <section class="container">
      <div class="row">
        <div class="col col-sm-6 col-md-7 col-lg-7"> © Copyright 2016.  SORT CA State Board of Private  Security Examiners. All Rights Reserved. </div>
        <div class="col col-sm-6 col-md-5 col-lg-5">
          <ul class="privacy">
            <li><a ng-click="showTermsDialoge($event);">Terms &amp; conditions </a></li>
            <li><a ng-click="showprivacyDialoge($event);"> Privacy Policy </a></li>
            <li><a ng-click="ScrollCtrl('contact')"> Contact Us </a></li>
          </ul>
        </div>
      </div>
    </section>
  </section>
  <div class="scroll-top-wrapper show"> <span class="scroll-top-inner"> <i class="fa fa-2x fa-arrow-circle-up"></i> </span> </div>
</footer>
</div>
<script>

    function init_map() {

        var var_location = new google.maps.LatLng(29.552177, -98.305598);

        var var_mapoptions = {
            center: var_location,

            zoom: 14
        };

        var var_marker = new google.maps.Marker({
            position: var_location,
            map: var_map,
            title: "Texas Department of Public Safety "
        });

        var var_map = new google.maps.Map(document.getElementById("map-container"),
                var_mapoptions);

        var_marker.setMap(var_map);

    }

    google.maps.event.addDomListener(window, 'load', init_map);
</script> 
<script>
    new WOW().init();
</script> 
