 <nav id="mainNav" class="navbar navbar-dark top-nav-collapse">
        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx"><i class="fa fa-bars"></i></button>
        <div class="container">

            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx">
                <!--Navbar Brand-->
                <a class="navbar-brand" ui-sref="home">
                    <img src="./img/louisiana-logo.png" width="100px" /></a>
                <!--Links-->
                <div ng-include="'templates/PartialPage/TopMenu.html'"></div>                
            </div>
            <!--/.Collapse content-->

        </div>
    </nav>