@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-webfont.woff2') format('woff2'), url('../fonts/opensans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'open_sansregular';
    font-size: 16px;
    color: #000;
    background: #fafafa;
    font-weight: normal;
}

p {
    margin-bottom: 15px;
}

.header-bg {
    background: #002170;
    display: none !important;
    /*height:125px;*/
}

.navbar .navbar-toggler {
    float: right;
    margin-right: -12px;
}

h2 {
    font-size: 30px;
}

.masthead {
    background: #011138;
    margin: 0px -10px 20px -10px !important;
}

    .masthead .column {
        padding: 0px 10px !important;
    }

    .masthead h2 {
        border-bottom: 4px yellow solid;
        color: #fff;
       /* font-family: 'open_sansregular';*/
        font-weight: 700;
        letter-spacing: 1.5px;
        padding: 10px 0;
        font-size: 26px;
    }





.container-fluid h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.section {
    padding: 0px 10px;
}

.left-section h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.hero.is-fullheight {
    min-height: 74vh !important;
}



.dropdown-menu-right {
    margin: 0px;
    padding: 0px !important;
}

    .dropdown-menu-right li {
        padding: 10px !important;
    }

        .dropdown-menu-right li a {
            padding: 0px !important;
        }

            .dropdown-menu-right li a .fa {
                margin-right: 7px;
            }


.sort-heading {
    font-size: 5.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.13);
    text-align: center;
    font-family: 'open_sansextrabold';
    letter-spacing: 1.5px;
}

.book-close {
    -webkit-transition: cubic-bezier(0.47, 0, 0.75, 0.72) 700ms;
    -webkit-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;
}

.book-log {
    position: relative;
    min-height: 72vh;
}

    .book-log h2 {
        position: absolute;
        top: 0px;
        right: 10px;
        background: #011138;
        color: #fff;
        z-index: 10;
        padding: 10px;
        font-size: 16px;
        border: solid #2e4a8e 1px;
        cursor: pointer;
    }

    .book-log .page-1, .book-log .page-2, .book-log .page-3 {
        position: absolute;
        top: -28px;
        left: 0px;
        width: 100%;
        min-height: 72vh;
        -webkit-transition: cubic-bezier(0.47, 0, 0.75, 0.72) 700ms;
        -webkit-transform: translateX(0%);
    }

    .book-log .page-1 {
        background: #323742;
        z-index: 5;
        font-size: 5rem;
        text-transform: uppercase;
        color: #fff;
    }

    .book-log .page-2 {
        background: #f5f5f5;
        z-index: 4;
    }

    .book-log .page-3 {
        background: #f5f5f5;
        z-index: 3;
    }

.table td, .table th {
    font-size: 14px !important;
}


@media (max-width:540px) {
    .sort-heading {
        font-size: 3.5rem;
    }
}

.list-style {
    margin-left: 0px;
    list-style-type: disc;
    color: #000;
    list-style: none;
}

    .list-style li {
        padding-bottom: 15px;
    }

.sorttexas1 {
    background: url(../../Chapter-1/images/image-14.png) center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
}

.intro-bg {
    background: url(../../Chapter-1/images/intro-base-2.jpg) center;
    background-size: cover;
}

.check-heading {
    font-size: 4.5rem;
    color: white;
    font-weight: 700;
    display: inline-block;
    position: relative;
}

    .check-heading span {
        display: inline-block;
        margin-left: 19px;
        width: 75px;
        height: 88px;
        background: #959595; /* Old browsers */
        background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
        line-height: 80px;
        font-size: 40px;
        border-radius: 20px 20px 50px 50px;
        color: white;
    }



.right-img-bdr img {
    border: solid 10px #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.48);
    display: inline-block;
}

.message p {
    color: #5A5757 !important;
}

.slide-36 strong {
    font-family: 'open_sansextrabold';
}

.slide-36 h2 {
    font-size: 38px;
    margin-bottom: 15px;
}

.slide-36 {
    background: rgba(255, 255, 0, 0.07);
    padding: 25px 50px;
    text-align: right;
}

.slide-38 {
    background: #000;
    color: #fff;
    padding: 25px 30px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

    .slide-38 span {
        font-size: 32px;
    }

    .slide-38 strong {
        color: #fff;
    }

.margin-remove {
    margin: 0px !important;
}

.content ul li {
    padding-bottom: 10px;
}

.text-danger {
    color: #ff3860 !important;
}

.circle {
}

    .circle h1 {
        font-size: 70px;
        background: -moz-radial-gradient(center, ellipse cover, rgba(21,0,255,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(21,0,255,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(21,0,255,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
        background: -o-radial-gradient(center, ellipse cover, rgba(21,0,255,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
        background: -ms-radial-gradient(center, ellipse cover, rgba(21,0,255,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
        background: radial-gradient(ellipse at center, rgba(21,0,255,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
        filter: progid:DXIma;
        width: 150px;
        height: 150px;
        margin: 0px auto;
        color: #fff;
        line-height: 150px;
        border-radius: 50%;
    }
/********Flip*********/


.log-book h1 {
    display: table-cell;
    vertical-align: middle;
    font-size: 7rem;
    color: #fff;
    width: 100%;
}

.flipbook {
    width: 100% !important;
    margin-left: 0px !important;
}

    .flipbook img {
        width: 100% !important;
    }

.page {
    width: 50% !important;
    overflow: scroll !important;
    height: 700px;
}
/********************/
.slide-67 {
    background: url(../../Chapter-6/images/SORTTEXAS_M07_067-a.jpg) center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.invalid-img {
    position: absolute;
    text-align: center;
    margin-top: 45px;
    width: 100%;
    /* background:red; */
    left: 33%;
}

    .invalid-img > img {
        box-shadow: none;
        width: 150px;
    }

/*---------------------------------------------------------------Gagan-------------------------------------------------------------------*/


.sorttexas2 {
    background: url(../../Chapter-1/images/image-14.png) center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
}


.black_box {
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    color: black;
    margin-top: 20px;
}


.black-header {
    background-color: #000000;
    color: #FFFFFF;
}

.black-header-title {
    color: #FFFFFF;
}


.sorttexas2_my {
    height: 140px;
}

.yes {
    text-align: center;
    background-color: #6b8873;
    margin-top: 40px;
}

.mywidht {
    width: 100%;
}

.sorttexas_bg {
    background: url(../../Chapter-5/images/SORTTEXAS_M07_045a.jpg) center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}

.sorttexas_bg2 {
    background: url(../../Chapter-6/images/SORTTEXAS_M07_91d.jpg) center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.circle-head {
    margin-bottom: 20px;
}

    .circle-head h1 {
        font-size: 2em;
    }

.circle {
    margin-top: 30px;
}

.list-style li {
    position: relative;
    padding-left: 20px;
}

    .list-style li:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f0a9";
        position: absolute;
        left: 0px;
        top: -3px;
        line-height: 30px;
        color: #000;
    }

.slide-45 li {
    padding-left: 10px;
    padding-top: 0px;
}

.list-style li ul {
    margin-left: 18px;
}

    .list-style li ul li {
        position: relative;
        padding-bottom: 5px;
    }

        .list-style li ul li:before {
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f18e";
            position: absolute;
            left: 0px;
            line-height: 30px;
            color: #000;
        }


/*  Activity Section Styles  */

/*.qcq-input input {
    padding-left:15px;
}*/

.unreadQuestion {
    background: #ccc !important;
    cursor: pointer;
}

.unreadOptions {
    cursor: pointer;
}

.qcq-input .form-control {
    border: solid #000 1px;
    margin-top: 0px;
    padding-left: 15px;
    box-sizing: border-box;
    height: 40px;
}

.qcq-input .input-group-addon {
    background: none !important;
    color: #080808;
    border: solid #080808 1px;
    border-right: none;
}

.qcq-input .md-textarea {
    color: #080808;
    border: solid #080808 1px;
    padding: 10px 0px;
    height: 80px;
    padding-left: 15px;
    box-sizing: border-box;
}

    .qcq-input .md-textarea:hover .qcq-input .md-textarea:active {
        background: #ccc !important;
    }

.qcq-input .btn {
    border: solid #080808 1px;
    background: none !important;
    color: #080808 !important;
    margin-bottom: 20px !important;
}

.activity-header-black {
    background: #000;
    padding: 25px 15px;
    color: white;
    border: #3333 2px solid;
    position: relative;
}

.input-group .input-group-addon {
    background-color: #CCCCCC;
    width: 60px;
    font-size: 18px;
    height: 40px;
}

.activity-header {
    background: #094eb3;
    padding: 25px 15px;
    color: white;
    border: #083275 2px solid;
    position: relative;
}

.activity-help {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    background: white;
    text-align: center;
    line-height: 30px;
}

    .activity-help .fa {
        color: black;
        vertical-align: middle !important;
    }

.activity-header h3 {
    font-size: 18px;
    font-weight: normal;
    color: white;
    line-height: initial;
}

.radio-list [type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative !important;
    visibility: visible !important;
    left: 0px !important;
}

.radio-list label {
    font-size: 16px;
}

.question-col {
    margin-bottom: 15px;
}

    .question-col h4 {
        color: black;
        margin-bottom: 15px;
    }

.answer-col {
    width: 90%;
    margin: 0 auto;
}

    .answer-col h2 {
        font-size: 28px;
    }

    .answer-col h4 {
        font-size: 18px;
        font-weight: bold;
        color: black;
        text-align: center;
        line-height: 33px;
    }

    .answer-col span {
        width: 67px;
        display: inline-block;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        border-radius: 7px;
        margin-top: 15px;
        margin-left: 50px;
    }

.symobl-icon {
    margin: 25px 0px;
}

    .symobl-icon .fa {
        font-size: 4rem;
    }

    .symobl-icon .fa-question {
        color: orange;
    }

    .symobl-icon .fa-close {
        color: red;
    }

    .symobl-icon .fa-check {
        color: green;
    }

.question-alert, .correct-alert {
    text-align: center;
}

    .question-alert h3, .correct-alert h3 {
        font-size: 18px;
        font-weight: bold;
    }

.yes-no {
}

    .yes-no p > .fa {
        margin-right: 7px;
    }

.card-header-icon .fa {
    display: inline-block;
    color: #fff;
    padding-top: 8px;
    float: right;
}

.card-header-title {
    display: inline-block;
    margin-bottom: 0px;
}


@media (max-width:540px) {
    .drag-block-content {
        border-left: none !important;
        border-top: white 2px solid;
        margin: 10px 0px 0px 0px !important;
    }
}



/*========= Drag and Drop Section Style  ===========*/
.quiz-h3 {
    margin: 15px 0px;
}

.drop-height {
    min-height: 100px;
}

.drag-border {
    border: solid gainsboro 1px;
}

.drag-color {
}

    .drag-color p {
        color: white !important;
        margin-bottom: 0px !important;
    }

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.drop-col {
    background: #5f5f5f;
    padding: 15px;
    color: white;
    border: #505050 2px solid;
    margin: 10px 0px;
}

    .drop-col h3 {
        text-align: center;
        font-size: 18px;
    }

    .drop-col .drop-holder {
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        border-radius: 7px;
        background: white;
        margin-top: 10px;
        min-height: 55px;
    }

.drag-col {
    padding: 15px;
}

    .drag-col .drag-item {
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        border-radius: 7px;
        background: #ececec;
        margin-bottom: -10px;
        height: 55px;
        text-align: center;
        border: solid 1px gainsboro;
    }

.drag-block {
    background: #e7eaea;
    padding: 10px 0px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    margin: 0 auto 6px auto;
}

.drag-block-content {
    margin: -10px 0px;
    padding: 15px;
    border-left: solid #ffffff 5px;
}

.drag-option {
}

    .drag-option span {
        display: inline-block;
        padding: 7px 10px;
        margin-bottom: 7px;
        color: #2d2d2d;
        font-size: 16px;
    }

.num-count {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #5f5f5f;
    text-align: center;
    line-height: 30px;
    margin-bottom: 0px;
    border-radius: 25px;
    font-size: 18px;
    top: -4px;
    left: 15px;
    font-weight: bold;
}

.circle-heading h1 {
    font-size: 2em;
}

.circle-heading {
    margin-bottom: 20px;
}

.exam-instruction {
    padding: 25px;
    width: 90%;
    margin: 0 auto;
}

    .exam-instruction p {
        margin-bottom: 20px;
    }

.thumb-bg {
    background: url(../../Chapter-1/images/thumb_bg.jpg) center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.mobile-holder {
    width: 175px;
    position: relative;
}

    .mobile-holder > img {
        box-shadow: none;
        display: inline-block;
        max-width: 171px;
    }

    .mobile-holder .antenna, .mobile-holder .power, .mobile-holder .display, .mobile-holder .microphone, .mobile-holder .speaker, .mobile-holder .accessory, .mobile-holder .talk, .mobile-holder .menu {
        position: absolute;
        cursor: pointer;
        z-index: 2;
    }

.antenna {
    width: 40px;
    height: 132px;
    top: 7px;
    left: 12px;
}

.power {
    width: 40px;
    height: 46px;
    top: 94px;
    right: 22px;
}

.display {
    width: 105px;
    height: 67px;
    top: 162px;
    left: 28px;
}

.menu {
    width: 50px;
    height: 25px;
    top: 259px;
    left: 58px;
}

.microphone {
    width: 25px;
    height: 25px;
    top: 322px;
    left: 32px;
}

.speaker {
    width: 100px;
    height: 80px;
    top: 352px;
    left: 32px;
}

.accessory {
    width: 24px;
    height: 94px;
    top: 181px;
    right: 4px;
}

.talk {
    width: 20px;
    height: 68px;
    top: 191px;
    left: 0px;
}

.module-section .fa {
    color: #000;
}

.md-breadcrumb {
    min-height: 25px !important;
    background: transparent !important;
    margin-top: 8px;
}

    .md-breadcrumb .md-toolbar-tools {
        background: rgba(1, 17, 56, 0.34) !important;
        height: 25px !important;
        padding: 18px 7px !important;
        font-size: 15px;
        color: black;
    }

        .md-breadcrumb .md-toolbar-tools button {
            margin-right: 0px;
        }

        .md-breadcrumb .md-toolbar-tools .breadcrumb-item.active {
            color: white;
        }

@media (max-width:575px) {
    .navbar-brand {
        float: none;
    }

    .check-heading {
        font-size: 2.5rem;
    }

        .check-heading span {
            width: 55px;
            height: 63px;
            line-height: 62px;
            font-size: 28px;
        }

    .navbar-toggler .fa {
        color: white;
    }
}

@media (max-width:480px) {
    body {
        font-size: 15px;
    }

    .activity-header h3 {
        font-size: 16px;
    }

    .masthead h2 {
        font-size: 16px;
    }

    .masthead {
        margin-bottom: 10px !important;
    }

    .module-section h3 {
        margin-bottom: 5px !important;
        font-size: 18px !important;
        padding-bottom: 5px !important;
    }

    .play-control {
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 1;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    footer {
        padding-top: 5px !important;
        display: none;
    }

        footer ul {
            margin-bottom: 5px !important;
        }

        footer > hr {
            display: none;
        }

    .btn-floating.btn-small, .btn-floating.wishlist, .card .card-share .social-reveal .btn-floating {
        height: 37px;
        width: 37px;
    }

    .btn-floating, .btn-floating i {
        line-height: 29px;
        font-size: 22px;
    }

    .answer-col h2 {
        font-size: 16px;
    }

    .slide-36 h2 {
        font-size: 24px;
        text-align: left;
    }
}


.bg-content {
    background: url(../../Chapter-1/images/SORT05_M01_00006.jpg) center;
    background-size: cover;
    height: 70vh;
    color: #fff;
}

.bg-black {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#313331+1,040505+73,000000+100 */
    background: #313331; /* Old browsers */
    background: -moz-linear-gradient(top, #313331 1%, #040505 73%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #313331 1%,#040505 73%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #313331 1%,#040505 73%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313331', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    height: 70vh;
}

.intro-no {
    opacity: 1;
    font-size: 155px;
    font-weight: bold;
    height: 150px;
    line-height: 150px;
    border-bottom: 5px solid rgb(255, 216, 0);
    color: #fff;
    width: 150px;
    text-align: center;
}

.bg-sky-blue {
    background: #c7eaff;
}

.take-notes {
    margin-top: -42px;
    color: #fff;
    font-size: 20px;
}

.list-style-check li {
    position: relative;
    padding-left: 20px;
}

    .list-style-check li:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f046";
        position: absolute;
        left: 0px;
        top: -3px;
        line-height: 30px;
        color: #000;
    }

.react h2 {
    background: #0E3157;
    color: #fff;
    padding: 13px;
    font-size: 18px;
    width: 140px;
    text-align: center;
}

.yellow-gradient-bg {
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F4FF8C 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F4FF8C 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #F4FF8C 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(100, #F4FF8C));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F4FF8C 100%);
    /* W3C Markup */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F4FF8C 100%);
}

    .yellow-gradient-bg h3 {
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 5px;
    }

    .yellow-gradient-bg p {
        font-size: 20px;
        margin-bottom: 0px;
        padding-top: 0px;
    }

.red-note {
    background: #fefdab;
    padding: 15px;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
    margin-top: 61px;
}

.dark-bg {
    background: #4a4a4a;
}

.foot-last h3 {
    text-align: center;
    font-size: 22px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 27px;
}

.foot-last {
    text-align: center;
    display: block !important;
}

.map-bg {
    background: url(../../Chapter-3/images/SORT05_M03_0016.jpg);
    background-repeat: no-repeat;
    /* width: 100%; */
    background-size: cover;
    height: 70vh;
}

.chapter-4 .column {
    color: #000;
}

.chapter-4 h4 {
    font-size: 16px;
}

.chapter-1-act h4 {
    color: #fff;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
}

.chapter-1-act {
    margin-bottom: 15px !important;
    margin: 0px;
}

    .chapter-1-act .column {
        margin-bottom: -15px;
    }

.columns.chapter-4 {
    margin-bottom: 10px !important;
    margin: 0px;
}

.actv-head h4 {
    font-size: 16px;
    margin-bottom: -10px;
}

.form-control:disabled {
    border-bottom: 1px solid #000 !important;
}
/*.access-radio [type="radio"]:not(:checked), [type="radio"]:checked{
    position:absolute !important;
    visibility:hidden !important;
    left: inherit !important;	
}*/

.access-control p{
    background: rgba(204, 204, 204, 0.42);
    padding: 8px 0px;	
}

.access-control-bg {
       background: url(../../Power%20of%20arrest/Chapter-1/images/SORT05_M01_000015-bg.jpg) center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    min-height: 371px;
}

.intro-power p{
	background: rgba(204, 204, 204, 0.84);
    padding: 10px;
    font-size: 20px;
    border-radius: 9px;
}

/*************21 july 2017**************/

.parent{
    background: url(../../Power%20of%20arrest/Chapter-4/images/SORT05_M04_00005.jpg) center;
    background-repeat: no-repeat;
    width: 100%;
    /* background-size: cover; */
    min-height: 205px;
	position:relative;
}

.hover-content {
      display: none;
      background: #ccc;
      width: 270px;
      z-index: 9999;
      margin-left: 100%;
      transition: 1s;
      padding: 20px;
      border: solid 1px #666;
      /* position: absolute; */
}
.code-834:hover .hover-content {
    display:block;
	transition:2s;
}
.code-834{width: 118px;height: 55px;margin-left: 36%;position: absolute;background: none;cursor:pointer;}
.code-837:hover .hover-content {
    display:block;
	transition:2s;
}
.code-837{
    width: 120px;
    height: 50px;
    margin-right: 36%;
    /* position: absolute; */
    background: none;
    cursor: pointer;
    margin-top: 50px;
    float: right;
    }
	/*******vai 25 july 2017*****/
	.make-arrest{
		  background: url(../../Power%20of%20arrest/Chapter-5/images/SORT04_M04_0021-b.png) center;
    background-repeat: no-repeat;
    width: 100%;
    /* background-size: cover; */
    min-height: 530px;
	position:relative;
	    padding-top: 137px;
	}
	.lawful-arrest{
		  background: url(../../Power%20of%20arrest/Chapter-5/images/SORT04_M04_0032-b.jpg) center;
    background-repeat: no-repeat;
    width: 100%;
    /* background-size: cover; */
 
	position:relative;
	    padding-top: 137px;
	}
	
	/*Create by vaib on 8 aug 2017*/
	
	.comm-ch-1 p{
		    font-size: 33px;
    font-weight: bold;
	}
	.comm-ch-nxt p{
		    padding-bottom: 15px;
    padding-top: 10px;
	}
	
	
	/*******Animation**********/
	
	.animated-1 { 
    -webkit-animation-duration: 8s; 
    animation-duration: 8s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-50px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(50px);} 
} 
@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-20px);} 
    20%, 40%, 60%, 80% {transform: translateX(20px);} 
} 
.shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
}
.shake {
position: absolute;
    left: 50%;
    z-index: 99999;
    top: 47px;
}
